<form class="form-horizontal b-search" action="/search/bento" method="get">
  <div class="form-group">
    <label for="b-search-main" class="field-label">Search the MIT Libraries</label>
      <input id="b-search-main" type="search" class="field field-text b-search-input" name="q" placeholder="Enter your search" value="<%= params[:q] %>">
    <div class="b-search-submit">
      <button type="submit" class="btn button-primary">Search</button>
    </div>
  </div>
</form>
