<form class="form-horizontal b-search" action="/search/bento" method="get">
  <div class="form-group">
    <label for="b-search-main" class="col-sm-2 control-label">Search</label>
    <div class="col-xs-8">
      <input id="b-search-main" type="search" class="form-control" name="q" placeholder="Enter your search" value="<%= params[:q] %>">
    </div>
    <div class="">
      <button type="submit" class="btn button-primary">Search</button>
    </div>
  </div>
</form>
