<div class="gridband">
  <div class="wrap-chat inline-action">
    <div class="message">
      <h2 class="title">Get help from a research professional</h2>
      <p>Our librarians are trained to find what you need.</p>
    </div>
    <div class="actions">
      <a class="button button-primary" href="https://libraries.mit.edu/ask/">Ask Us</a>
    </div>
  </div>
</div>
