<div class="gridband">
  <div class="wrap-chat inline-action">
    <div class="message">
      <h2 class="title">Get help from expert librarians</h2>
      <p>From thesis research to course reserves, we can help you find what you need.</p>
    </div>
    <div class="actions">
      <a class="button button-primary" href="https://libraries.mit.edu/ask/">Ask Us</a>
    </div>
  </div>
</div>
