<div class="wrap-notincluded grid-item region" data-region="Other resources">
  <h2 class="title">What's not included?</h2>
  <p>Not everything we have at the Libraries appears in these search results - specialized sources like full-text business reports, images, theses, or archival materials, can best be found using other tools.</p>

  <h3 class="title-sub">How to find the other stuff</h3>
  <ul class="list-tools">
    <li><a href="https://libraries.mit.edu/ask/">Ask our expert librarians</a></li>
    <li><a href="https://libraries.mit.edu/experts">Browse specialized search tools by subject</a></li>
  </ul>

  <h3 class="title-sub">Popular search tools</h3>
  <ul class="list-tools">
    <li><a href="http://libguides.mit.edu/reserves">Course reserves search</a></li>
    <li><a href="https://libraries.mit.edu/vera">Vera: Search e-journals and databases</a></li>
    <li><a href="https://libraries.mit.edu/worldcat">WorldCat: Borrow from libraries worldwide</a></li>
    <li><a href="https://scholar.google.com">Google Scholar</a> (<a href="http://libguides.mit.edu/google/googlescholar">Help setting preferences</a>)</li>
    <li><a href="https://libraries.mit.edu/search/">Other popular search tools</a></li>
  </ul>

</div>
