<div class="wrap-results grid-item region" data-region="Other resources">
  <h2 class="title">Other resources</h2>
  <div class="wrap-help">
    <p class="results-desc">Not finding what you're looking for?</p>

    <ul class="list-tools">
      <li><a href="https://libraries.mit.edu/ask/">Ask our expert librarians</a></li>
      <li><a href="https://libraries.mit.edu/experts">Help yourself: browse research guides</a></li>
      <li><a href="https://libraries.mit.edu/search/">Other search options</a></li>
      <li><a href="http://libguides.mit.edu/database-search">Advanced search tips</a></li>
    </ul>

    <h3 class="title">Popular tools</h3>
    <ul class="list-tools">
      <li><a href="http://libguides.mit.edu/reserves">Course reserves search</a></li>
      <li><a href="https://libraries.mit.edu/vera">Vera: search e-journals and databases</a></li>
      <li><a href="https://scholar.google.com">Google Scholar</a> (<a href="http://libguides.mit.edu/google/googlescholar">Help setting preferences</a>)</li>
      <li><a href="http://libraries.mit.edu/worldcat">WorldCat: borrow from libraries worldwide</a></li>
      <li><a href="http://yewno.com/edu">Yewno: A visual way to discover</a></li>
    </ul>

  </div>
</div>
