<div id="box-other" class="wrap-results grid-item">
  <h2 class="title">Other resources</h2>
  <p class="results-desc">Not finding what you need? Try one of these options.</p>

  <div class="other_resources">
    <ul>
      <li>Browse Databases by subject</li>
      <li>Browse research guides</li>
      <li>Search DSpace / MIT Theses</li>
      <li>Find Course Reserves</li>
      <li>Search Conference Proceedings</li>
    </ul>

    <h3>Popular Tools</h3>
    <ul>
      <li>Google Scholar</li>
      <li>WorldCat: Libraries worldwide</li>
      <li>DOME: MIT image repository</li>
    </ul>

    <h3>Tips for searching</h3>
    <ul>
      <li>Advanced search tips</li>
      <li>More about search</li>
      <li>Other ways to get help</li>
    </ul>
  </div>
</div>
