<div class="wrap-results grid-item region" data-region="Other resources">
  <h2 class="title">Other resources</h2>
  <div class="wrap-help">
    <p class="results-desc">Not finding what you're looking for? Try one of these tools.</p>

    <ul class="list-tools">
      <li><a href="https://libraries.mit.edu/vera">Browse databases by subject</a></li>
      <li><a href="https://libraries.mit.edu/experts">Browse research guides</a></li>
      <li><a href="https://dspace.mit.edu">Search DSpace/MIT theses</a></li>
      <li><a href="http://libguides.mit.edu/reserves">Find course reserves</a></li>
    </ul>

    <h3 class="title">Popular tools</h3>
    <ul class="list-tools">
      <li><a href="https://scholar.google.com">Google Scholar</a></li>
      <li><a href="http://libraries.mit.edu/worldcat">WorldCat: Libraries worldwide</a></li>
      <li><a href="http://dome.mit.edu">DOME: MIT image repository</a></li>
    </ul>

    <h3 class="title">Tips for searching</h3>
    <ul class="list-tools">
      <li><a href="http://libguides.mit.edu/database-search">Advanced search tips</a></li>
      <li><a href="https://libraries.mit.edu/search/">More about search</a></li>
      <li><a href="https://libraries.mit.edu/ask/">Other ways to get help</a></li>
    </ul>

  </div>
</div>
