<div class="wrap-results grid-item">
  <h2 class="title">Other resources</h2>
  <div class="wrap-help">
    <p class="results-desc">Not finding what you're looking for? Try one of these tools.</p>

    <dl>
      <dt></dt>
      <dd>
        <a href="https://libraries.mit.edu/vera">Browse Databases by subject</a>
      </dd>
      <dd>
        <a href="https://libraries.mit.edu/experts">Browse research guides</a>
      </dd>
      <dd>
        <a href="https://dspace.mit.edu">Search DSpace/MIT theses</a>
      </dd>
      <dd>
        <a href="http://libguides.mit.edu/reserves">Find course reserves</a>
      </dd>
    </dl>

    <dl>
      <dt>Popular tools</dt>
      <dd>
        <a href="https://scholar.google.com">Google Scholar</a>
      </dd>
      <dd>
        <a href="http://libraries.mit.edu/worldcat">WorldCat: Libraries worldwide</a>
      </dd>
      <dd>
        <a href="http://dome.mit.edu">DOME: MIT image repository</a>
      </dd>
    </dl>

    <dl>
      <dt>Tips for searching</dt>
      <dd>
        <a href="">Advanced search tips</a>
      </dd>
      <dd>
        <a href="">More about search</a>
      </dd>
      <dd>
        <a href="https://libraries.mit.edu/ask/">Other ways to get help</a>
      </dd>
    </dl>
  </div>
</div>
