<div class="wrap-notincluded grid-item region" data-region="Other resources">
  <h2 class="title">What's not included?</h2>
  <p>Not everything we have at the Libraries appears in these search results - if you are looking for specialized sources like full-text business reports, images, theses, or archival materials, you can <a href="https://libraries.mit.edu/search/#specialized">view our specialized search tools</a> or <a href="https://libraries.mit.edu/ask">ask a librarian</a>.</p>

  <h3 class="title-sub">Other resources</h3>
  <ul class="list-tools">
    <li><a href="https://libraries.mit.edu/ask/">Ask our expert librarians</a></li>
    <li><a href="https://libraries.mit.edu/experts">Help yourself: browse research guides</a></li>
    <li><a href="https://libraries.mit.edu/search/">Other search options</a></li>
    <li><a href="http://libguides.mit.edu/database-search">Advanced search tips</a></li>
  </ul>

  <h3 class="title-sub">Popular tools</h3>
  <ul class="list-tools">
    <li><a href="http://libguides.mit.edu/reserves">Course reserves search</a></li>
    <li><a href="https://libraries.mit.edu/vera">Vera: search e-journals and databases</a></li>
    <li><a href="https://scholar.google.com">Google Scholar</a> (<a href="http://libguides.mit.edu/google/googlescholar">Help setting preferences</a>)</li>
    <li><a href="https://libraries.mit.edu/worldcat">WorldCat: borrow from libraries worldwide</a></li>
  </ul>

</div>
