<div class="col-sm-<%= box_width %>">
  <h2><%= heading %></h2>
  <div id="<%= id %>" class="region" data-region="<%= id %>"> 
    Loading results...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
