<div class='bento-result'>
  <h3 class='bento-title'>
    <%= link_to(result.title, result.url, class: 'bento-link') %>
    <% if result.year.present? %>
      <span class='bento-year'><%= result.year %></span>
    <% end %>
  </h3>
  <div class='bento-body'>
    <%= result.authors.join('; ') if result.authors %><br />
  </div>
</div>
