<ul>
  <li><%= link_to('Toggle WorldCat', session_toggle_boxes_path(box: 'worldcat')) %></li>

  <li><%= link_to('Toggle Google', session_toggle_boxes_path(box: 'website')) %></li>

  <li><%= link_to('Toggle EDS Aleph', session_toggle_boxes_path(box: 'books')) %></li>

  <li><%= link_to('Toggle EDS Non-Aleph', session_toggle_boxes_path(box: 'articles')) %></li>
</ul>
