<% if current_page?(:controller => 'search', :action => 'search_boxed') %>
  <div class="results-more">
  <% if @results['total'] > 0 %>
    <%= link_to(
      "View all #{number_with_delimiter(@results['total'])} results like this.",
      @results['view_more_url'],
      data: {count: @results['total']}) %>
  <% else %>
    No results found.
  <% end %>
  </div>
<% end %>
