<%= render partial: "form" %>

<div class="col-sm-4">
  <h2>Articles and Stuff</h2>
  <div id="articles_content">
    Loading results...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>

<div class="col-sm-4">
  <h2>Books and Stuff</h2>
  <div id="books_content">
    Loading results...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>

<div class="col-sm-4">
  <h2>Website and Guides</h2>
  <div id="website_content">
    Loading results...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>

<script>
  $('#articles_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=articles")

  $('#books_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=books")

  $('#website_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=google")
</script>
