<%= render partial: "form" %>

<div class="row">
  <div class="col-sm-4">
    <h2>Articles and Stuff</h2>
    <div id="articles_content">
      Loading results...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>

  <div class="col-sm-4">
    <h2>Books and Stuff</h2>
    <div id="books_content">
      Loading results...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>

  <div class="col-sm-4">
    <h2>Website and Guides</h2>
    <div id="website_content">
      Loading results...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-12">
    <h2>Not finding what you're looking for? Try these other tools:</h2>
    <dl>
      <dt><a href="//libraries.mit.edu/vera">Vera</a></dt>
      <dd>Best for e-journals and databases owned or licensed by the MIT Libraries. Don’t search for individual articles here.</dd>
      <dt><a href="//libraries.mit.edu/worldcat">WorldCat</a></dt>
      <dd>Best for books and other items not owned by the MIT Libraries. Using this interface, you can request items from <a href="//libraries.mit.edu/borrow-direct">Borrow Direct</a> or <a href="//libraries.mit.edu/ilb">Interlibrary Borrowing (ILB)</a>.</dd>
    </dl>
    <h3>Specialized search tools &amp; guides</h2>
    <dl>
      <dt><a href="http://archnet.org/">Archnet</a></dt>
      <dd>Search for resources on architecture, urbanism, environmental and landscape design, visual culture, and conservation issues related to the Muslim world.</dd>
    </dl>
  </div>
</div>

<script>
  $('#articles_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=articles")

  $('#books_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=books")

  $('#website_content').load("/search/search?q=<%= URI.encode(params[:q]) %>&target=google")
</script>
