<div class="space-wrap">
  <%= render partial: "form" %>

  <% if Flipflop.full_record_toggle_button? %>
    <div class="nudge-fullrecord-toggle">
      <p><%= full_record_toggle_link %></p>
    </div>
  <% end %>
</div>
