<% if @hint %>
  <div class="wrap-hint-box" data-region="Hint">
    <div class="hint-box">
      <p class="type"><%= display_type %></p>
      <h3 class="title"><%= hint_link(@hint.title) %></h3>

      <% if @hint.url.include?('libguides.mit.edu') %>
        <p class="desc">
          <%= hint_link(@hint.url) %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
