---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apinoaleph
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - a7f8b696-2c7d-449c-9c4c-f7074f5cd2c0
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&highlight=n&includefacets=n&pagenumber=1&query=%22pokemon%20go%22&resultsperpage=3&searchmode=all&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - af593f99-d8e6-4c6f-8ec8-697d9ee146de
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,%22pokemon+go%22&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"\"pokemon
        go\""},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":4574,"TotalSearchTime":195,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":0},{"Id":"bwh","Label":"","Status":"0","Hits":177},{"Id":"egh","Label":"Environment
        Index","Status":"0","Hits":1},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":0},{"Id":"cmedm","Label":"MEDLINE","Status":"0","Hits":0},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":2},{"Id":"fyh","Label":"Women''s
        Studies International","Status":"0","Hits":0},{"Id":"bth","Label":"Business
        Source Complete","Status":"0","Hits":221},{"Id":"lxh","Labe[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - ff6484c1-9107-40ba-aaab-a8a4a8ae33a1
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apibarton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 7fb07cb9-88a5-4d48-97c1-3d70717d2a58
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&highlight=n&includefacets=n&pagenumber=1&query=%22pokemon%20go%22&resultsperpage=3&searchmode=all&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - e02172cc-dca3-4848-8ffe-6d1325101bc5
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,%22pokemon+go%22&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=brief&resultsperpage=3&pagenumber=0&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"\"pokemon
        go\""},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":0,"TotalSearchTime":292,"Databases":[{"Id":"cat00916a","Label":"MIT
        Barton Catalog","Status":"0","Hits":0},{"Id":"ir00145a","Label":"MIT DOME
        for Discovery","Status":"0","Hits":0},{"Id":"cat01763a","Label":"MIT Course
        Reserves","Status":"0","Hits":0}]},"Data":{"RecordFormat":"EP Display"}}}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - ff6484c1-9107-40ba-aaab-a8a4a8ae33a1
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Mon, 01 Aug 2016 14:20:21 GMT
recorded_with: VCR 3.0.3
