---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{ "query": "{ search(searchterm: \"Timurid Architecture Research Archive\",
        sourceFilter: \"MIT ArchivesSpace\") { hits records { sourceLink title identifiers
        { kind value } dates { kind value range { gte lte } } physicalDescription
        summary contributors { value } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c90476b23343da3650eb2eb488e616d7"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":630,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/5/resources/1227","title":"Timurid
        Architecture Research Archive","identifiers":[{"kind":"Collection Identifier","value":"AKDC.2015.0005"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1966","lte":"1981"}},{"kind":"creation","value":null,"range":{"gte":"1966","lte":"1967"}}],"physicalDescription":"18
        box(es) Document boxes: three 5\" letter size; nine 2.5\" letter size; one
        5\" legal size; one 5\" Tall legal size; and, two single drawer card file
        boxes; one small CD size box; and one triangular tube for architectural drawings
        (which measure 63 x 14 x 12 centimetres); 9 Linear Feet; 2 folder(s) 2 extra
        large files for architectural drawings/maps","summary":["Materials in this
        collection are the creations of Lisa Golombek and Donald Wilber.  The collection
        consists of extensive field notes, photographs, architectural drawings, and
        slides.  Sites featured in the materials are found in a number of Middle Eastern
        and Central Asian countries, both within modern cities and in rural areas.  Sites
        featured include a wide array of building types such as mosques, madrassas,
        khanaqahs, and palaces.  Some sites are associated with Timurid rulers, while
        others are associated with religious figures.  The majority of the materials
        in the collection were created during field expeditions in 1966.  Images and
        notes contributed to Golombek and Wilber''s two-volume work on the Timurid
        architecture of Iran and Central Asia."],"contributors":[{"value":"Wilber,
        Donald Newton"},{"value":"Golombek, Lisa"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/5/resources/1226","title":"Isfahan
        Urban History Project","identifiers":[{"kind":"Collection Identifier","value":"AKDC.2015.0004"}],"dates":[{"kind":"creation","value":null,"range":null}],"physicalDescription":"11.5
        Linear Feet; 11 box(es) 5 record cartons (boxes 1-5); \n1 legal-size documents
        box, 2.5\" width (box 6); \n1 portfolio box (box 7)[...]
