---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{ "query": "{ search(searchterm: \"SOVEREIGN INTIMACY: PRIVATE MEDIA
        AND THE TRACES OF COLONIAL VIOLENCE\", sourceFilter: \"MIT ArchivesSpace\")
        { hits records { sourceLink title identifiers { kind value } dates { kind
        value range { gte lte } } physicalDescription summary contributors { value
        } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee8af17355f179d71eed5fd6399c5ca1"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":1282,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/5/resources/1253","title":"Iraqi
        engineering and art journals collection","identifiers":[{"kind":"Collection
        Identifier","value":"AKDC.2017.0004"}],"dates":[{"kind":"publication","value":null,"range":{"gte":"1940","lte":"1983"}}],"physicalDescription":".418
        Linear Feet Two 2.5 inch width document boxes, legal size. 22 journals Each
        box is 15.25 x 2.5 x 10.25 inches.","summary":null,"contributors":[{"value":"Private
        Collector"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/531","title":"Massachusetts
        Institute of Technology, Comparative Media Studies records","identifiers":[{"kind":"Collection
        Identifier","value":"AC.0592"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1989","lte":"2008"}},{"kind":"creation","value":null,"range":null}],"physicalDescription":"2.3
        Cubic Feet (2 record cartons, 1 manuscript box); 2 item(s)[...]
