---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{ "query": "{ search(searchterm: \"archives\", sourceFilter: \"MIT
        ArchivesSpace\") { hits records { sourceLink title identifiers { kind value
        } dates { kind value range { gte lte } } physicalDescription summary contributors
        { value } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1a851e597586c71601834ea80576e1f"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":175,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/1043","title":"Paul
        Earls archives","identifiers":[{"kind":"Collection Identifier","value":"MC.0552"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1914","lte":"1998"}}],"physicalDescription":"16.3
        Cubic Feet (16 record cartons, 1 manuscript box)","summary":["The Paul Earls
        archives contains a large number of music manuscripts and recordings of his
        compositions, as well as slides of multi-media laser and sound works he created
        in venues in the United States and Europe.\n\nfrom: \"What''s the Score: Spring
        2000,\"  MIT Music Library newsletter\nPaul Earls was a fellow at the Massachusetts
        Institute of Technology Center for Advanced Visual Studies (CAVS) from 1970
        until his death in 1998. He was a composer known mostly for theatrical and
        multi-media works that included his laser art such as The Death of King Phillip,
        Icarus: a Sky Opera (with Otto Piene, Ian Strasfogel and Guenther Schneider-Siemssen),
        and Mozart and Cosmology (with Beth Soll). He also wrote symphonic, choral,
        chamber and electronic music. Examples include Brevis Mass, And On the Seventh
        Day for full orchestra, Nun Danket Fantasy for organ, and Five Notables for
        solo violin."],"contributors":[{"value":"Earls, Paul, 1934-1998"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/244","title":"Muriel
        Cooper personal archives","identifiers":[{"kind":"Collection Identifier","value":"MC.0739"}],"dates":[{"kind":"creation","value":null,"range":null}],"physicalDescription":"78
        Cubic Feet (78 record cartons)","summary":null,"contributors":[{"value":"Cooper,
        Muriel"},{"value":"Visible Language Workshop (Massachusetts Institute of Technology)"}]},{"[...]
