---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{search(searchterm: \"archives\", source: \"MIT ArchivesSpace\")
        {hits records {sourceLink title identifier publicationDate physicalDescription
        summary contributors { value } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c8a32cb7575bc731a0685522dd42100"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":81,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/103","title":"Massachusetts
        Institute of Technology, Institute Archives and Special Collections records","identifier":"MIT:archivespace:AC.0129","publicationDate":"1964-2003","physicalDescription":"62.3
        Cubic Feet; 38 record cartons, 92 manuscript boxes, 2 half manuscript boxes,
        2 flat boxes)\n","summary":["There are currently thirteen series of Institute
        Archives and Special Collections records dating from 1964 to 2014."],"contributors":[{"value":"Massachusetts
        Institute of Technology. Institute Archives and Special Collections"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/1074","title":"Peter
        S. Eagleson personal archives","identifier":"MIT:archivespace:MC.0583","publicationDate":"1933-2010","physicalDescription":"6
        Cubic Feet; 6 record cartons","summary":null,"contributors":[{"value":"Eagleson,
        Peter S."}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/[...]
