---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{ "query": "{ search(searchterm: \"MIT Science Fiction Society collection
        of fanzines\", sourceFilter: \"MIT ArchivesSpace\") { hits records { sourceLink
        title identifiers { kind value } dates { kind value range { gte lte } } physicalDescription
        summary contributors { value } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bb83cdd12ed5a782275a806d39fb2407"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":1282,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/1350","title":"MIT
        Science Fiction Society collection of fanzines","identifiers":[{"kind":"Collection
        Identifier","value":"MC.0769"}],"dates":null,"physicalDescription":"60 box(es)","summary":null,"contributors":[{"value":"MIT
        Science Fiction Society"},{"value":"MIT Science Fiction Society"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/285","title":"Massachusetts
        Institute of Technology, Science Fiction Society records","identifiers":[{"kind":"Collection
        Identifier","value":"AC.0331"}],"dates":[{"kind":"creation","value":null,"range":null}],"physicalDescription":"0.3
        Cubic Feet (1 manuscript box)","summary":null,"contributors":[{"value":"MIT
        Science Fiction Society"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/468","title":"Ten
        Club records","identifiers":[{"kind":"Collection Identifier","value":"AC.0529"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1936","lte":"1969"}}],"physicalDescription":"0.3
        Cubic Feet (1 manuscript box)","summary":null,"contributors":[{"value":"Ten
        Club (Massachusetts Institute of Technology)"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/617","title":"Eric
        Hodgins papers","identifiers":[{"kind":"Collection Identifier","value":"MC.0054"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1946","lte":"1958"}}],"physicalDescription":"1
        Cubic Feet (1 record carton)",[...]
