---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=weather%20patterns
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/fSct5L846Z_KRpoUgA2irLpDinI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - weather patterns",
            "totalResults": "88",
            "searchTerms": "weather patterns",
            "count": 3,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - weather patterns",
            "totalResults": "88",
            "searchTerms": "weather patterns",
            "count": 3,
            "startIndex": 4,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
           }
          ]
         },
         "context": {
          "title": "mitlib_test"
         },
         "searchInformation": {
          "searchTime": 0.333364,
          "formattedSearchTime": "0.33",
          "totalResults": "88",
          "formattedTotalResults": "88"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Books - Atmospheric Sciences & Oceanography - LibGuides at MIT ...",
           "htmlTitle": "Books - Atmospheric Sciences &amp; Oceanography - LibGuides at MIT ...",
           "link": "http://libguides.mit.edu/c.php?g=175871&p=1158593",
           "displayLink": "libguides.mit.edu",
           "snippet": "Air is vital to human existence--it protects us from radiation, maintains climate and \nweather patterns, disperses seeds and pollen, and serves as an alternative ...",
           "htmlSnippet": "Air is vital to human existence--it protects us from radiation, maintains climate and \u003cbr\u003e\n\u003cb\u003eweather patterns\u003c/b\u003e, disperses seeds and pollen, and serves as an alternative&nbsp;...",
           "formattedUrl": "libguides.mit.edu/c.php?g=175871&p=1158593",
           "htmlFormattedUrl": "libguides.mit.edu/c.php?g=175871&amp;p=1158593",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "80",
              "height": "80",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS3K-T891smPvv-yFt52Kn2dP7HFL5GFHC7YhGbjxLCHS0_Z5IwFsEnHA"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "dc.title": "LibGuides: Atmospheric Sciences & Oceanography: Books",
              "dc.creator": "Chris Sherratt",
              "dc.subject": "Science",
              "dc.description": "A guide to library research tools for atmospheric sciences & oceanography.",
              "dc.publishers": "MIT Libraries",
              "dc.rights": "Copyright MIT Libraries 2016",
              "dc.language": "en",
              "dc.identifier": "http://libguides.mit.edu/c.php?g=175871&p=1158593",
              "dc.date.created": "Jun 28, 2008",
              "dc.date.modified": "May 3, 2016"
             }
            ],
            "cse_image": [
             {
              "src": "http://s3.amazonaws.com/libapps/accounts/31876/profiles/26367/gcsherra100x100.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "MC 184",
           "htmlTitle": "MC 184",
           "link": "https://libraries.mit.edu/archives/research/collections/collections-mc/pdf/mc184.pdf",
           "displayLink": "libraries.mit.edu",
           "snippet": "May 2, 2016 ... of large-scale weather patterns. The facility served the Air Force, the Navy, and \nthe United States. Weather Bureau. The latter, with Charney's ...",
           "htmlSnippet": "May 2, 2016 \u003cb\u003e...\u003c/b\u003e of large-scale \u003cb\u003eweather patterns\u003c/b\u003e. The facility served the Air Force, the Navy, and \u003cbr\u003e\nthe United States. Weather Bureau. The latter, with Charney&#39;s&nbsp;...",
           "cacheId": "fjvbWtgBFMEJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://libraries.mit.edu/archives/research/collections/.../mc184.pdf",
           "htmlFormattedUrl": "https://libraries.mit.edu/archives/research/collections/.../mc184.pdf",
           "pagemap": {
            "metatags": [
             {
              "producer": "Apache FOP Version 0.95",
              "creationdate": "D:20160502091310-04'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Guide to the Papers of Jule G. Charney MC.0184",
           "htmlTitle": "Guide to the Papers of Jule G. Charney MC.0184",
           "link": "https://libraries.mit.edu/archives/research/collections/collections-mc/mc184.html",
           "displayLink": "libraries.mit.edu",
           "snippet": "During World War II he assisted in the trainin[...]
