---
http_interactions:
  - request:
      method: get
      uri: https://customsearch.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=asdffdsaasdffdsa
      body:
        encoding: UTF-8
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Etag:
          - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/NFJlDpqCAJ6O5jawomZegzy1nZE"'
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: |
          {
           "kind": "customsearch#search",
           "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
           },
           "queries": {
            "request": [
             {
              "title": "Google Custom Search - asdffdsaasdffdsa",
              "totalResults": "0",
              "searchTerms": "asdffdsaasdffdsa",
              "count": 3,
              "inputEncoding": "utf8",
              "outputEncoding": "utf8",
              "safe": "off",
              "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
             }
            ]
           },
           "searchInformation": {
            "searchTime": 0.376984,
            "formattedSearchTime": "0.38",
            "totalResults": "0",
            "formattedTotalResults": "0"
           }
          }
    recorded_at: Fri, 02 Sep 2016 14:15:22 GMT
recorded_with: VCR 3.0.3
