---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=weather%20patterns
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - weather patterns",
                "totalResults": "3",
                "searchTerms": "weather patterns",
                "count": 3,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
              }
            ]
          },
          "context": {
            "title": "MIT Libraries Search 2"
          },
          "searchInformation": {
            "searchTime": 0.277499,
            "formattedSearchTime": "0.28",
            "totalResults": "3",
            "formattedTotalResults": "3"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "Polymers – New books | MIT Libraries",
              "htmlTitle": "Polymers – New books | MIT Libraries",
              "link": "https://libraries.mit.edu/new-books/polymers/",
              "displayLink": "libraries.mit.edu",
              "snippet": "Weather: an illustrated history: from cloud atlases to climate change / Andrew ... \nPMT hit patterns: for neutrinoless double beta decay searches / Jack Dunger.",
              "htmlSnippet": "\u003cb\u003eWeather\u003c/b\u003e: an illustrated history: from cloud atlases to climate change / Andrew ... \u003cbr\u003e\nPMT hit \u003cb\u003epatterns\u003c/b\u003e: for neutrinoless double beta decay searches / Jack Dunger.",
              "cacheId": "x63mv2h3Bu0J",
              "formattedUrl": "https://libraries.mit.edu/new-books/polymers/",
              "htmlFormattedUrl": "https://libraries.mit.edu/new-books/polymers/",
              "pagemap": {
                "cse_thumbnail": [
                  {
                    "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6ql8OfR7q5LqT72xeAUhck0HJss2AEmQYuzLPfDXWf9AnNS2dIEM8h00",
                    "width": "225",
                    "height": "225"
                  }
                ],
                "metatags": [
                  {
                    "og:image": "https://libraries.mit.edu/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png",
                    "og:type": "website",
                    "og:image:width": "1200",
                    "og:image:alt": "MIT Libraries logo",
                    "viewport": "width=device-width, initial-scale=1.0",
                    "og:title": "Polymers – New books | MIT Libraries",
                    "og:image:height": "1200",
                    "og:image:type": "image/png",
                    "og:url": "https://libraries.mit.edu/new-books/polymers/"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://libraries.mit.edu/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "Books - MIT in Popular Culture - LibGuides at MIT Libraries",
              "htmlTitle": "Books - MIT in Popular Culture - LibGuides at MIT Libraries",
              "link": "https://libguides.mit.edu/c.php?g=176093&p=1159272",
              "displayLink": "libguides.mit.edu",
              "snippet": "Oct 30, 2019 ... Scientists figure out how to control the weather. Set in part at MIT. Welcome to the \nNerd Farm! by G.B. Trudeau. ISBN: 0740768506. Publication ...",
              "htmlSnippet": "Oct 30, 2019 \u003cb\u003e...\u003c/b\u003e Scientists figure out how to control the \u003cb\u003eweather\u003c/b\u003e. Set in part at MIT. Welcome to the \u003cbr\u003e\nNerd Farm! by G.B. Trudeau. ISBN: 0740768506. Publication&nbsp;...",
              "formattedUrl": "https://libguides.mit.edu/c.php?g=176093&p=1159272",
              "htmlFormattedUrl": "https://libguides.mit.edu/c.php?g=176093&amp;p=1159272",
              "pagemap": {
                "metatags": [
                  {
                    "msapplication-tilecolor": "#ffc40d",
                    "msapplication-config": "//libapps.s3.amazonaws.com/apps/common/favicon/browserconfig.xml",
                    "theme-color": "#ffffff",
                    "dc.description": "Books, movies, and TV shows having to do with MIT",
                    "og:type": "website",
                    "twitter:card": "summary_large_image",
                    "og:title": "LibGuides: MIT in Popular Culture: Books",
                    "dc.rights": "Copyright MIT Libraries 2020",
                    "dc.date.created": "Jan 27, 2011",
                    "og:description": "Books, movies, and TV shows having to do with MIT",
                    "dc.publishers": "MIT Libraries",
                    "twitter:site": "@springshare",
                    "viewport": "width=device-width, initial-scale=1.0",
                    "dc.creator": "Ece Turnator",
                    "dc.title": "LibGuides: MIT in Popular Culture: Books",
                    "dc.date.modified": "Oct 30, 2019",
                    "dc.identifier": "https://libguides.mit.edu/c.php?g=176093&p=1159272",
                    "dc.language": "en",
                    "og:url": "https://libguides.mit.edu/c.php?g=176093&p=1159272"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "Artificial Intelligence - The Laughing Room: Suggested Reading ...",
              "htmlTitle": "Artificial Intelligence - The Laughing Room: Suggested Reading ...",
              "link": "https://libguides.mit.edu/laughingroom/ai",
              "displayLin[...]
