---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Tue, 02 May 2017 14:36:38 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - f1791665-95a2-41d6-a19a-43e50f6b5ae0
      X-Sessionno:
      - "-432645191"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Tue, 02 May 2017 14:36:38 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music%20Scores,SourceType:Audio,SourceType:Videos&highlight=n&includefacets=n&pagenumber=1&query=hist%C3%B3rico%20da%20helmintosporiose&resultsperpage=5&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - c1de00b8-052f-438f-95f7-1ff29049796d
      X-Sessionno:
      - "-432645191"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,hist%c3%b3rico+da+helmintosporiose&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music+Scores,SourceType:Audio,SourceType:Videos&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=detailed&resultsperpage=5&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"histórico
        da helmintosporiose"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SourceType","Value":"Books"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Books)"},{"FacetValue":{"Id":"SourceType","Value":"eBooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:eBooks)"},{"FacetValue":{"Id":"SourceType","Value":"Audiobooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audiobooks)"},{"FacetValue":{"Id":"SourceType","Value":"Dissertations"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Dissertations)"},{"FacetValue":{"Id":"SourceType","Value":"Music
        Scores"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Music Scores)"},{"FacetValue":{"Id":"SourceType","Value":"Audio"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audio)"},{"FacetValue":{"Id":"SourceType","Value":"Videos"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Videos)"}],"RemoveAction":"removefacetfilter(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":90,"TotalSearchTime":1854,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":0},{"Id":"rih","Label":"RILM
        Abstracts of Music Literature (1967 to Present only)","Status":"0","Hits":0},{"Id":"agr","Label":"Agricola","Status":"0","Hits":0},{"Id":"lah","Label":"CAB
        Abstracts","Status":"0","Hits":0},{"Id":"egh","Label":"Environment Index","Status":"0","Hits":0},{"Id":"inh","Label":"Inspec","Status":"0","Hits":0},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":0},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":0},{"Id":"q[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - b0607fd7-c86d-4e48-81cb-bb9306648a0d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Tue, 02 May 2017 14:36:40 GMT
recorded_with: VCR 3.0.3
