---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Mon, 07 Nov 2016 18:15:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apibarton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 87d72f6b-465c-4bc2-b9b7-7131bf62ce67
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Mon, 07 Nov 2016 18:15:21 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&highlight=n&includefacets=n&pagenumber=1&query=vonnegut&resultsperpage=5&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 398bb32a-23de-48ce-9cfc-b0ccff792da3
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,vonnegut&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=detailed&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"vonnegut"},"RemoveAction":"removequery(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":136,"TotalSearchTime":444,"Databases":[{"Id":"ir00145a","Label":"MIT
        DOME for Discovery","Status":"0","Hits":0},{"Id":"cat01763a","Label":"MIT
        Course Reserves","Status":"0","Hits":1},{"Id":"cat01875a","Label":"MIT Test
        Catalog","Status":"0","Hits":135}]},"Data":{"RecordFormat":"EP Display","Records":[{"ResultId":1,"Header":{"DbId":"cat01875a","DbLabel":"MIT
        Test Catalog","An":"mittest.002129878","RelevancyScore":"2315","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01875a&AN=mittest.002129878","ImageInfo":[{"Size":"thumb","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9780385343756"},{"Size":"medium","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9780385343756"}],"CustomLinks":[{"Url":"https:\/\/walter.mit.edu\/item\/002129878?","Name":"MIT
        Test catalog2 (copy of cat00916a) (cat01875a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Kurt
        Vonnegut : letters \/ edited and with an introduction by Dan Wakefield."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Vonnegut%2C+Kurt%22&quot;&gt;Vonnegut,
        Kurt&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication Type","Group":"TypPub","Data":"Book"},{"Name":"SubjectPerson","Label":"Subject
        Terms","Group":"Su","Data":"&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Vonnegut%2C+Kurt+--+Correspondence%22&quot;&gt;Vonnegut,
        Kurt -- Correspondence&lt;\/searchLink&gt;"},{"Name":"Abstract","Label":"Abstract","Group":"Ab","Data":"Summary:
        A compilation of personal correspondence written over a sixty-year period
        offers insight into the iconic American author&#39;s literary personality,
        his experiences as a German POW, his struggles with fame, and the inspirations
        for his famous books."},{"Name":"Author","Label":"Other Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Wakefield%2C+Dan%22&quot;&gt;Wakefield,
        Dan&lt;\/searchLink&gt;"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Vonnegut,
        Kurt -- Correspondence","Type":"general"}],"Titles":[{"TitleFull":"Kurt Vonnegut
        : letters.","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Vonnegut,
        Kurt"}}},{"PersonEntity":{"Name":{"NameFull":"Wakefield, Dan"}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"2012"}],"Identifiers":[{"Type":"isbn-print","Value":"9780385343756"},{"Type":"isbn-print","Value":"0385343752"},{"Type":"isbn-print","Value":"9780345535399"},{"Type":"isbn-print","Value":"0345535391"}],"Titles":[{"TitleFull":"Kurt
        Vonnegut : letters \/ edited and with an introduction by Dan Wakefield.","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"Sublocation":"Hayden
        Library - Stacks","ShelfLocator":"PS3572.O5 Z48 2012"}]}}]},{"ResultId":2,"Header":{"DbId":"cat01875a","DbLabel":"MIT
        Test Catalog","An":"mittest.002035762","RelevancyScore":"2310","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01875a&AN=mittest.002035762","ImageInfo":[{"Size":"thumb","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9781612190907"},{"Size":"medium","Targe[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - c35dacdf-aa44-493a-96b4-49213f64aa27
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Mon, 07 Nov 2016 18:15:22 GMT
recorded_with: VCR 3.0.3
