---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Thu, 20 Jul 2017 18:37:20 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d252699a-508c-49f3-a2a3-9043b27ccf7f
      X-Sessionno:
      - '1521223163'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Thu, 20 Jul 2017 18:37:20 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&facetfilter=1,SourceType:Academic%20Journals,SourceType:Magazines,SourceType:Conference%20Materials&highlight=n&includefacets=n&pagenumber=1&query=National%20Cyclopaedia%20of%20American%20Biography&resultsperpage=5&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 7c4a836e-166f-47e1-a36e-4d120eae5160
      X-Sessionno:
      - '1521223163'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,National+Cyclopaedia+of+American+Biography&facetfilter=1,SourceType:Academic+Journals,SourceType:Magazines,SourceType:Conference+Materials&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=detailed&resultsperpage=5&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"National
        Cyclopaedia of American Biography"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SourceType","Value":"Academic
        Journals"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Academic Journals)"},{"FacetValue":{"Id":"SourceType","Value":"Magazines"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Magazines)"},{"FacetValue":{"Id":"SourceType","Value":"Conference
        Materials"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Conference
        Materials)"}],"RemoveAction":"removefacetfilter(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":59094,"TotalSearchTime":417,"Databases":[{"Id":"fah","Label":"Film
        & Television Literature Index","Status":"0","Hits":0},{"Id":"edswbe","Label":"World
        Bank eLibrary","Status":"0","Hits":0},{"Id":"eric","Label":"ERIC","Status":"0","Hits":0},{"Id":"rih","Label":"RILM
        Abstracts of Music Literature (1967 to Present only)","Status":"0","Hits":0},{"Id":"agr","Label":"Agricola","Status":"0","Hits":3},{"Id":"lah","Label":"CAB
        Abstracts","Status":"0","Hits":0},{"Id":"egh","Label":"Environment Index","Status":"0","Hits":0},{"Id":"inh","Label":"Inspec","Status":"0","Hits":0},{"Id":"ecn","Label":"Ec[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - ba8774d4-efb3-49d2-a840-d503d012b342
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Thu, 20 Jul 2017 18:37:21 GMT
recorded_with: VCR 3.0.3
