---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Mon, 07 Nov 2016 18:18:48 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apibarton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - f6746545-b72d-490c-aa99-e0bd0a749af6
    body:
      encoding: UTF-8
      string: '{"SessionToken":"40b2b479-6ebe-41ca-9d9f-3fdae688b46e.j8lW\/tif+ooM9Bh2VGWd1kfOIusYNey7DxoGPfvbWj8="}'
  recorded_at: Mon, 07 Nov 2016 18:18:48 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&highlight=n&includefacets=n&pagenumber=1&query=orange&resultsperpage=3&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d67057da-5095-4dfd-98cd-c89105a20460
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,orange&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=detailed&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"orange"},"RemoveAction":"removequery(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":1859,"TotalSearchTime":131,"Databases":[{"Id":"ir00145a","Label":"MIT
        DOME for Discovery","Status":"0","Hits":63},{"Id":"cat01763a","Label":"MIT
        Course Reserves","Status":"0","Hits":3},{"Id":"cat01875a","Label":"MIT Test
        Catalog","Status":"0","Hits":1793}]},"Data":{"RecordFormat":"EP Display","Records":[{"ResultId":1,"Header":{"DbId":"cat01875a","DbLabel":"MIT
        Test Catalog","An":"mittest.001528789","RelevancyScore":"2483","PubType":"Audio","PubTypeId":"audio"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01875a&AN=mittest.001528789","CustomLinks":[{"Url":"https:\/\/walter.mit.edu\/item\/001528789?","Name":"MIT
        Test catalog2 (copy of cat00916a) (cat01875a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Orange
        [sound recording] \/ [the Jon Spencer Blues Explosion]."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Jon+Spencer+Blues+Explosion+%28Musical+group%29%22&quot;&gt;Jon
        Spencer Blues Explosion (Musical group)&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication
        Type","Group":"TypPub","Data":"Audio"},{"Name":"Subject","Label":"Subject
        Terms","Group":"Su","Data":"&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Rock+music+--+1991-2000%22&quot;&gt;Rock
        music -- 1991-2000&lt;\/searchLink&gt;"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Rock
        music -- 1991-2000","Type":"general"}],"Titles":[{"TitleFull":"Orange. [sound
        recording]","Type":"main"}]},"BibRelationships":{"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"1994"}],"Titles":[{"TitleFull":"Orange
        [sound recording] \/ [the Jon Spencer Blues Explosion].","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"Sublocation":"Lewis
        Music Library - Media","ShelfLocator":"PhonCD P J69 ora CD"}]}}]},{"ResultId":2,"Header":{"DbId":"cat01875a","DbLabel":"MIT
        Test Catalog","An":"mittest.001302768","RelevancyScore":"2314","PubType":"eBook","PubTypeId":"ebook"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01875a&AN=mittest.001302768","CustomLinks":[{"Url":"https:\/\/walter.mit.edu\/item\/001302768?","Name":"MIT
        Test catalog2 (copy of cat00916a) (cat01875a)","Category":"libCatalog","Text":"View
        catalog recor[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=40b2b479-6ebe-41ca-9d9f-3fdae688b46e.j8lW/tif%20ooM9Bh2VGWd1kfOIusYNey7DxoGPfvbWj8=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Dynatrace:
      - PT=37612898;PA=-829545830;SP=EDSAPI;PS=-1981931378
      - PT=37612898;PA=-829545830;SP=EDSAPI;PS=-1981931378
      Dynatrace:
      - PT=37612898;PA=-829545830;SP=EDSAPI;PS=-1981931378
      - PT=37612898;PA=-829545830;SP=EDSAPI;PS=-1981931378
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 644250a2-d7bd-4472-bd10-c760d87eca48
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"Session token received: 40b2b479-6ebe-41ca-9d9f-3fdae688b46e.j8lW\/tif
        ooM9Bh2VGWd1kfOIusYNey7DxoGPfvbWj8= ","ErrorDescription":"Session Token Invalid","ErrorNumber":"109"}'
  recorded_at: Mon, 07 Nov 2016 18:18:48 GMT
recorded_with: VCR 3.0.3
