---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{\n  search(searchterm: \"popcorn\") {\nhits\n    records
        {\n      sourceLink\n      title\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3bb3af9cf9741d3b723558b09fc18168"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":115,"records":[{"sourceLink":"https://library.mit.edu/item/000346597","title":"Popcorn
        Venus /"},{"sourceLink":"https://library.mit.edu/item/002623996","title":"Popcorn
        Industry Profile: Belgium"},{"sourceLink":"https://library.mit.edu/item/002624002","title":"Popcorn
        Industry Profile: Hong Kong"},{"sourceLink":"https://library.mit.edu/item/002176518","title":"Popcorn
        Industry Profile: Denmark"},{"sourceLink":"https://library.mit.edu/item/002623995","title":"Popcorn
        Industry Profile: Australia"},{"sourceLink":"https://library.mit.ed[...]
