---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 31 Jan 2018 17:40:53 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d8f7a2f8-b98d-4875-bd3d-f2cce1580893
      X-Sessionno:
      - '1901068080'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 31 Jan 2018 17:40:54 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music%20Scores,SourceType:Audio,SourceType:Videos&highlight=n&includefacets=n&pagenumber=1&query=popcorn&resultsperpage=5&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 609f018e-bc32-4953-8633-374ced2ce7fd
      X-Sessionno:
      - '1901068080'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,popcorn&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music+Scores,SourceType:Audio,SourceType:Videos&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&autocorrect=n&view=detailed&resultsperpage=5&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"popcorn"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SourceType","Value":"Books"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Books)"},{"FacetValue":{"Id":"SourceType","Value":"eBooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:eBooks)"},{"FacetValue":{"Id":"SourceType","Value":"Audiobooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audiobooks)"},{"FacetValue":{"Id":"SourceType","Value":"Dissertations"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Dissertations)"},{"FacetValue":{"Id":"SourceType","Value":"Music
        Scores"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Music Scores)"},{"FacetValue":{"Id":"SourceType","Value":"Audio"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audio)"},{"FacetValue":{"Id":"SourceType","Value":"Videos"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Videos)"}],"RemoveAction":"removefacetfilter(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":212131,"TotalSearchTime":223,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":3},{"Id":"egh","Label":"Environment
        Index","Status":"0","Hits":1},{"Id":"inh","Label":"Inspec","Status":"0","Hits":2},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":11},{"Id":"qth","Label":"LGBT
        Life with Full Text","Status":"0","Hits":12},{"Id":"fmh","Label":"Gender Studies
        Database","Status":"0","Hits":7},{"Id":"ibh","Label":"International Bibliography
        of Theatre & Dance with Full Text","Status":"0","Hits":13},{"Id":"lxh","Label":"Library,
        Information[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d77de931-fe86-4579-9549-fb6a60fe271d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Wed, 31 Jan 2018 17:40:55 GMT
recorded_with: VCR 3.0.3
