---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 14 Sep 2016 17:10:32 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apinoaleph
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 67be138e-5036-471a-9021-7a7947bd5205
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 14 Sep 2016 17:10:32 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&highlight=n&includefacets=n&pagenumber=1&query=popcorn&resultsperpage=3&searchmode=smart&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 5450220f-5fd8-46f6-9078-563a16fd1126
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,popcorn&sort=relevance&includefacets=n&searchmode=smart&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"popcorn"},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":39479,"TotalSearchTime":267,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":75},{"Id":"bwh","Label":"","Status":"0","Hits":1521},{"Id":"egh","Label":"Environment
        Index","Status":"0","Hits":235},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":20},{"Id":"cmedm","Label":"MEDLINE","Status":"0","Hits":471},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":80},{"Id":"fyh","Label":"Women''s
        Studies International","Status":"0","Hits":19},{"Id":"bth","Label":"Business
        Source Complete","Status":"0","Hits":1730},{"Id":"[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 371790b4-cbf5-41fd-b248-f801b2491d2d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Wed, 14 Sep 2016 17:10:32 GMT
recorded_with: VCR 3.0.3
