---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 14 Sep 2016 17:10:48 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apibarton
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - ae8e042b-2707-44e4-a7e8-2bfc2b492c1e
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 14 Sep 2016 17:10:48 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&highlight=n&includefacets=n&pagenumber=1&query=popcorn&resultsperpage=3&searchmode=smart&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - aca94a4a-8ee4-4c15-a6ce-e0d334d2f8c9
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,popcorn&sort=relevance&includefacets=n&searchmode=smart&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"popcorn"},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":79,"TotalSearchTime":98,"Databases":[{"Id":"cat00916a","Label":"MIT
        Barton Catalog","Status":"0","Hits":78},{"Id":"ir00145a","Label":"MIT DOME
        for Discovery","Status":"0","Hits":1},{"Id":"cat01763a","Label":"MIT Course
        Reserves","Status":"0","Hits":0}]},"Data":{"RecordFormat":"EP Display","Records":[{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.001739356","RelevancyScore":"3502","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001739356","ImageInfo":[{"Size":"thumb","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9780752889351"},{"Size":"medium","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9780752889351"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/001739356?","Name":"MIT
        Barton Catalog URL (cat00916a)","Category":"libCatalog","Text":"View catalog
        record","MouseOverText":"Go to Barton catalog to find this at the MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Popcorn
        : fifty years of rock &#39;n&#39; roll movies \/ Garry Mulholland."},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Mulholland%2C+Garry%22&quot;&gt;Mulholland,
        Garry&lt;\/searchLink&gt;"},{"Name":"TypePub","Label":"Publication Type","Group":"TypPub","Data":"Book"},{"Name":"Subject","Label":"Subject
        Terms","Group":"Su","Data":"&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Rock+films+--+History+and+criticism%22&quot;&gt;Rock
        films -- History and criticism&lt;\/searchLink&gt;"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Rock
        films -- History and criticism","Type":"general"}],"Titles":[{"TitleFull":"Popcorn
        : fifty years of rock ''n'' roll movies.","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Mulholland,
        Garry"}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"2010"}],"Identifiers":[{"Type":"isbn-print","Value":"9780752889351"},{"Type":"isbn-print","Value":"0752889354"}],"Titles":[{"TitleFull":"Popcorn
        : fifty years of rock ''n'' roll movies \/ Garry Mulholland.","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"Sublocation":"Hayden
        Library - Stacks","ShelfLocator":"PN1995.9.M86 M855 2010"}]}}]},{"ResultId":2,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.001245816","RelevancyScore":"3389","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001245816","CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/001245816?","Name":"MIT
        Barton Catalog URL (cat00916a)","Category":"libCatalog","Text":"View catalog
        record","MouseOverText":[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 371790b4-cbf5-41fd-b248-f801b2491d2d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Wed, 14 Sep 2016 17:10:48 GMT
recorded_with: VCR 3.0.3
