---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/worldcat/sru?maximumRecords=3&query=srw.kw%20any%20%22popcorn%22%20and%20srw.li%20any%20%22MYG%22&recordSchema=info:srw/schema/1/dc&wskey=FAKE_WORLDCAT_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>108</numberOfRecords>
        <records>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:creator>Rosen, Marjorie.</dc:creator>
        <dc:date>1974, ©1973</dc:date>
        <dc:description>Emerging from Victorianism -- The twenties: wet dreams in a dry land -- The thirties: sacrificial lambs &amp; the politics of fantasy -- The forties: necessity as the mother of emancipation -- The fifties: losing ground -- Sixties into seventies: revolution &amp; renaissance?</dc:description>
        <dc:format>448 pages : illustrations ; 18 cm</dc:format>
        <dc:identifier>0380001772</dc:identifier>
        <dc:identifier>9780380001774</dc:identifier>
        <dc:language xsi:type="http://purl.org/dc/terms/ISO639-2">eng</dc:language>
        <dc:publisher>Avon</dc:publisher>
        <dc:subject xsi:type="http://purl.org/dc/terms/LCSH">Women in motion pictures.</dc:subject>
        <dc:title>Popcorn Venus </dc:title>
        <dc:type>Text</dc:type>
        <oclcterms:recordCreationDate xsi:type="http://purl.org/oclc/terms/marc008date">750804</oclcterms:recordCreationDate>
        <oclcterms:recordIdentifier xsi:type="http://purl.org/oclc/terms/lccn">   73078740 </oclcterms:recordIdentifier>
        <oclcterms:recordIdentifier>1508955</oclcterms:recordIdentifier>
        </oclcdcs>
        </recordData>
        </record>
        <record>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <oclcdcs>
        <dc:creator>McKenzie, Richard B.</dc:creator>
        <dc:date>©2008</dc:date>
        <dc:description>Explains the my[...]
