---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=popcorn
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - popcorn",
                "totalResults": "1",
                "searchTerms": "popcorn",
                "count": 1,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
              }
            ]
          },
          "context": {
            "title": "MIT Libraries Search 2"
          },
          "searchInformation": {
            "searchTime": 0.202486,
            "formattedSearchTime": "0.20",
            "totalResults": "1",
            "formattedTotalResults": "1"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "Library events during Family Weekend, Oct.14–16 | MIT Libraries ...",
              "htmlTitle": "Library events during Family Weekend, Oct.14–16 | MIT Libraries ...",
              "link": "https://libraries.mit.edu/news/library-events-during/6593/",
              "displayLink": "libraries.mit.edu",
              "snippet": "Oct 7, 2011 ... Relax and enjoy some popcorn while viewing a collection of short videos \ncelebrating and capturing MIT's sesquicentennial. The program will ...",
              "htmlSnippet": "Oct 7, 2011 \u003cb\u003e...\u003c/b\u003e Relax and enjoy some \u003cb\u003epopcorn\u003c/b\u003e while viewing a collection of short videos \u003cbr\u003e\ncelebrating and capturing MIT&#39;s sesquicentennial. The program will&nbsp;...",
              "cacheId": "RIwA7SavEx0J",
              "formattedUrl": "https://libraries.mit.edu/news/library-events-during/6593/",
              "htmlFormattedUrl": "https://libraries.mit.edu/news/library-events-during/6593/",
              "pagemap": {
                "cse_thumbnail": [
                  {
                    "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkXaR6jVz77Vb6noRmOuewJuygkt-tALLEDjxAqGMzMt7QsUl-ae6vmg9J",
                    "width": "225",
                    "height": "225"
                  }
                ],
                "metatags": [
                  {
                    "og:image": "https://libraries.mit.edu/news/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png",
                    "og:image:width": "1200",
                    "og:image:alt": "MIT Libraries logo",
                    "viewport": "width=device-width, initial-scale=1.0",
                    "og:title": "MIT Libraries",
                    "og:image:height": "1200",
                    "og:image:type": "image/png",
                    "og:url": "//libraries.mit.edu"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://libraries.mit.edu/news/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png"
                  }
                ]
              }
            }
          ]
        }
  recorded_at: Fri, 17 Jul 2020 17:29:03 GMT
recorded_with: VCR 6.0.0
