---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=popcorn
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/TGdnVcTBRf29ZP25qzqGKBkkLXQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - popcorn",
            "totalResults": "1",
            "searchTerms": "popcorn",
            "count": 1,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
           }
          ]
         },
         "context": {
          "title": "mitlib_test"
         },
         "searchInformation": {
          "searchTime": 0.430818,
          "formattedSearchTime": "0.43",
          "totalResults": "1",
          "formattedTotalResults": "1"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Library events during Family Weekend, Oct.14–16 | MIT Libraries ...",
           "htmlTitle": "Library events during Family Weekend, Oct.14–16 | MIT Libraries ...",
           "link": "https://libraries.mit.edu/news/library-events-during/6593/",
           "displayLink": "libraries.mit.edu",
           "snippet": "Oct 7, 2011 ... Relax and enjoy some popcorn while viewing a collection of short videos \ncelebrating and capturing MIT's sesquicentennial. The program will ...",
           "htmlSnippet": "Oct 7, 2011 \u003cb\u003e...\u003c/b\u003e Relax and enjoy some \u003cb\u003epopcorn\u003c/b\u003e while viewing a collection of short videos \u003cbr\u003e\ncelebrating and capturing MIT&#39;s sesquicentennial. The program will&nbsp;...",
           "cacheId": "RIwA7SavEx0J",
           "formattedUrl": "https://libraries.mit.edu/news/library-events-during/6593/",
           "htmlFormattedUrl": "https://libraries.mit.edu/news/library-events-during/6593/",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ]
           }
          }
         ]
        }
  recorded_at: Wed, 14 Sep 2016 17:19:17 GMT
recorded_with: VCR 3.0.3
