---
http_interactions:
- request:
    method: post
    uri: https://timdex.mit.edu/graphql
    body:
      encoding: UTF-8
      string: '{ "query": "{ search(searchterm: \"''kevin lynch''\", sourceFilter:
        \"MIT ArchivesSpace\") { hits records { sourceLink title identifiers { kind
        value } dates { kind value range { gte lte } } physicalDescription summary
        contributors { value } } } }"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5cdae5a452cf2109c9f75f821020730"
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"hits":4,"records":[{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/739","title":"Kevin
        Lynch papers","identifiers":[{"kind":"Collection Identifier","value":"MC.0208"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1934","lte":"1988"}}],"physicalDescription":"16.5
        Cubic Feet (12 record cartons, 8 manuscript boxes, 1 half manuscript box,
        4 medium flat boxes, 1 large flat box, 3 small media boxes, 1 slide box and
        2 loose drawings, 10 oversize folders)","summary":["This collection documents
        the career of Kevin Lynch. Lynch was a member of the faculty at the Massachusetts
        Institute of Technology from 1948 to 1978 in the Department of City and Regional
        Planning, and was a leader in the field of city planning and urban redevelopment.
        Material in this collection covers research data, correspondence, course material,
        trip diaries, and manuscripts."],"contributors":[{"value":"Lynch, Kevin, 1918-1984"}]},{"sourceLink":"https://archivesspace.mit.edu/repositories/2/resources/1143","title":"Louise
        Chawla research papers on the Growing Up in Cities project","identifiers":[{"kind":"Collection
        Identifier","value":"MC.0651"}],"dates":[{"kind":"creation","value":null,"range":{"gte":"1972","lte":"2018"}}],"physicalDescription":"2.5
        Cubic Feet (7 document boxes, 1 flat box); 5.5 Gigabytes (10 digital files,
        including 1 disk image)","su[...]
