---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Thu, 25 Jun 2020 18:41:37 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 250f0155-1716-4fc8-b439-093801c4b712
      X-Sessionno:
      - '644940474'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Thu, 25 Jun 2020 18:41:37 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 0404c539-5fc3-4a22-8e29-9221e4e73787
      X-Sessionno:
      - "-1837936591"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Thu, 25 Jun 2020 18:41:37 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 317ece16-fca5-4253-adeb-13e3b3734a88
      X-Sessionno:
      - '644940474'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"2"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.000292123","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 9ee5a32c-ed92-4da9-ba74-f95c97ea5254
      X-Sessionno:
      - '644940474'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.000292123","RelevancyScore":"970","AccessLevel":"3","PubType":"Periodical","PubTypeId":"serialPeriodical"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000292123&authtype=sso&custid=s8978330","CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/000292123?","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.on.worldcat.org\/oclc\/01536582?","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"https:\/\/sfx.mit.edu\/sfx_local?rft.object_id=954925385125&url_ver=Z39.88-2004&ctx_ver=Z39.88-2004&ctx_enc=info:ofi\/enc:UTF-8&rfr_id=info:sid\/sfxit.com:opac_856&url_ctx_fmt=info:ofi\/fmt:kev:mtx:ctx&sfx.ignore_date_threshold=1&svc_val_fmt=info:ofi\/fmt:kev:mtx:sch_svc&#?","Name":"MIT
        Catalog Customlink","Category":"fullText","Text":"","Icon":"https:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Blood."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"[Philadelphia, PA, etc. W.B. Saunders
        Co., etc.]"},{"Name":"DatePub","Label":"Publication Date","Group":"Date","Data":"1946"},{"Name":"PhysDesc","Label":"Physical
        Description","Group":"PhysDesc","Data":"v. ill., ports. 26 cm."},{"Name":"TypePub","Label":"Publication
        Type","Group":"TypPub","Data":"Periodical"[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mit.000292123&dbid=cat00916a&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 4a5594c9-7a01-438f-b54e-8e022547c74e
      X-Sessionno:
      - "-1837936591"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
        mit.000292123\u000d\u000aT1  - Blood.\u000d\u000aY1  - 1946\/\/\/\u000d\u000aM3  -
        Periodical\u000d\u000aPB  - [Philadelphia, PA, etc. W.B. Saunders Co., etc.]\u000d\u000aAV  -
        Library Storage Annex - Off Campus Collection RB.B655\u000d\u000aSN  - 0006-4971\u000d\u000aN2  -
        Library Storage Annex - Off Campus Collection | RB.B655 | v.1 (1946)- v.115:p.1315-2560
        (2010) Incomplete\u000d\u000aKW  - Blood -- Periodicals\u000d\u000aKW  - Hematology
        -- Periodicals\u000d\u000aKW  - Periodicals\u000d\u000aN1  - Accession Number:
        mit.000292123; Corporate Authors: American Society of Hematology.; Other Notes:
        \"The journal of hematology.\"; Vol. 2 has two special issues, no. 1: Morphologic
        hematology, and no. 2: The Rh factor in the clinic and the laboratory.; Excerpta
        medica; Index medicus 0019-3879; Biological abstracts 0006-3169; Chemical
        abstracts 0009-2258; Energy research abstracts 0160-3604; International aerospace
        abstracts 0020-5842; Life sciences collection; RINGDOC; Also available via
        the World Wide Web.; Some summaries also in Interlingua.; Journal of the American
        Society of Hematology, 1976-; Publication Type: Periodical; Physical Description:
        v. ill., ports. 26 cm.; Language: English; Title Abbreviation: Blood; Other
        Titles: Blood; LCCN: a  50001900; OCLC: 01536582; Frequency: Semimonthly,
        1990-\u000d\u000aUR  - https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000292123&authtype=sso&custid=s8978330\u000d\u000aUR  -
        https:\/\/sfx.mit.edu\/sfx%5Flocal?rft.object%5Fid=954925385125&url%5Fver=Z39.88-2004&ctx%5Fver=Z39.88-2004&ctx%5Fenc=info:ofi\/enc:UTF-8&rfr%5Fid=info:sid\/sfxit.com:opac%5F856&url%5Fctx%5Ffmt=info:ofi\/fmt:kev:mtx:ctx&sfx.ignore%5Fdate%5Fthreshold=1&svc%5Fval%5Ffmt=info:ofi\/fmt:kev:mtx:sch%5Fsvc&\u000d\u000aDP  -
        EBSCOhost\u000d\u000aDB  - cat00916a\u000d\u000aER  - \u000d\u000a"}'
  recorded_at: Thu, 25 Jun 2020 18:41:38 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mit.000292123&dbid=cat00916a&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - 60881292-329e-4b24-ae36-f647ae51799d
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"<b>Blood<\/b>.
        <i>[s. l.]<\/i>: [Philadelphia, PA, etc. W.B. Saunders Co., etc.], 1946. ISBN
        0006-4971. Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000292123&authtype=sso&custid=s8978330.
        Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
        List","Data":"<i>Blood<\/i>. [Philadelphia, PA, etc. W.B. Saunders Co., etc.];
        1946. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000292123&authtype=sso&custid=s8978330.
        Accessed June 25, 2020.","Caption":"American Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"<i>Blood<\/i>.
        (1946). [Philadelphia, PA, etc. W.B. Saunders Co., etc.]. ","Caption":"American
        Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
        Author-Date","SectionLabel":"Reference List","Data":"<i>Blood<\/i>. 1946.
        [Philadelphia, PA, etc. W.B. Saunders Co., etc.]. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000292123&authtype=sso&custid=s8978330.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"<i>Blood<\/i>
        (1946). [Philadelphia, PA, etc. W.B. Saunders Co., etc.]. Available at: https:\[...]
