---
http_interactions:
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
      body:
        encoding: UTF-8
        string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - ""
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
    recorded_at: Thu, 25 Jun 2020 17:31:06 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - e341f7b5-51be-4646-90c9-db872a337214
        X-Sessionno:
          - "2147104930"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string: '{"SessionToken":"FakeSessiontoken"}'
    recorded_at: Thu, 25 Jun 2020 17:31:07 GMT
[...]
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/Info
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 5b777b12-7e8f-4315-a703-e70f37aa2d61
        X-Sessionno:
          - "2147104930"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
          Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
          Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
          Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
          equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
          related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
          search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
          Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"TI","Label":"Reviewed
          Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"2"},{"Id":"FR","Label":"References
          Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
          Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
          Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
          Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
          Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
          Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
          Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
   [...]
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
      body:
        encoding: UTF-8
        string: '{"DbId":"cat00916a","An":"mit.001492509","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 775db111-7f4c-4dd6-897c-826b40eaa5a8
        X-Sessionno:
          - "2147104930"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
          Barton Catalog","An":"mit.001492509","RelevancyScore":"1098","PubType":"eBook","PubTypeId":"ebook"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330","ImageInfo":[{"Size":"thumb","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9781841958811"},{"Size":"medium","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9781841958811"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/001492509?","Name":"MIT
          Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
          catalog record","MouseOverText":"Go to Barton catalog to find this at the
          MIT Libraries"},{"Url":"https:\/\/mit.on.worldcat.org\/oclc\/166367812?","Name":"WorldCat
          customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
          items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/F\/?func=service-sfx&doc_number=001492509&line_number=0000&service_type=RECORD#?","Name":"MIT
          Catalog Customlink","Category":"fullText","Text":"","Icon":"https:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Bananas
          : how the United Fruit Company shaped the world \/ Peter Chapman."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
          fieldCode=&quot;AR&quot; term=&quot;%22Chapman%2C+Peter%22&quot;&gt;Chapman,
          Peter&lt;\/searchLink&gt;, 1948-"},{"Name":"PubInfo","Label":"Publication
          Information","Group":"PubInfo","Data":"Edinburgh ; New York : Canongate ;
          [Berke[...]
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mit.001492509&dbid=cat00916a&format=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 55dc8612-f919-4de2-a326-4d33e8b9eba8
        X-Sessionno:
          - "1687598049"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
          mit.001492509\u000d\u000aAU  - Chapman, Peter\u000d\u000aT1  - Bananas : how
          the United Fruit Company shaped the world.\u000d\u000aY1  - 2007\/\/\/\u000d\u000aM3  -
          Bibliographies\u000d\u000aM3  - Non-fiction\u000d\u000aPB  - Edinburgh ; New
          York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers Group West,
          c2007.\u000d\u000aPB  - 1st American ed.\u000d\u000aAV  - Hayden L[...]
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mit.001492509&dbid=cat00916a&styles=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Msg-Correlid:
          - dc20f763-0aad-457a-abfb-70790e202cc8
      body:
        encoding: UTF-8
        string:
          '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"CHAPMAN,
          P. <b>Bananas : how the United Fruit Company shaped the world<\/b>. <i>[s.
          l.]<\/i>: Edinburgh ; New York : Canongate ; [Berkeley, Calif.?] : Distributed
          by Publishers Group West, c2007., 2007. ISBN 9781841958811. Disponível em:
          https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330.
          Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
          List","Data":"Chapman P. <i>Bananas : How the United Fruit Company Shaped
          the World<\/i>. Edinburgh ; New York : Canongate ; [Berkeley, Calif.?] : Distributed
          by Publishers Group West, c2007.; 2007. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330.
          Accessed June 25, 2020.","Caption":"American Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"Chapman,
          P. (2007). <i>Bananas : how the United Fruit Company shaped the world<\/i>.
          Edinburgh ; New York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers
          Group West, c2007. ","Caption":"American Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
          Author-Date","SectionLabel":"Reference List","Data":"Chapman, Peter. 2007.
          <i>Bananas : How the United Fruit Company Shaped the World<\/i>. Edinburgh ;
          New York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers Group
          West, c2007. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330.","Indent":1},{"Id":"harvard","Label":"Harv[...]
