---
http_interactions:
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 9e13ef75-6683-42f6-b8ee-371c6f9cde2b
      X-Sessionno:
      - '472403253'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 23 Aug 2017 18:34:08 GMT
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve?cache_id=a3dca1859b36b70a044093ec663fe8f3
    body:
      encoding: UTF-8
      string: '{"DbId":"dog00916a","An":"mit.001492509","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 8b76b4a1-bd8f-4e57-bbc9-72ed164c6e73
      X-Sessionno:
      - '472403253'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"DbId dog00916a not available for profile
        apiwhatnot.","ErrorDescription":"DbId Not In Profile","ErrorNumber":"135"}'
  recorded_at: Wed, 23 Aug 2017 18:34:09 GMT
recorded_with: VCR 3.0.3
