---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 04 Oct 2017 18:41:40 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 8501777a-715a-43c0-b609-4e40248ebc3b
      X-Sessionno:
      - '995267985'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 04 Oct 2017 18:41:41 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - c3425bbc-57fe-46df-8242-a6d154b57f0b
      X-Sessionno:
      - '995267985'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.001492509","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 4ff65049-06b9-4407-8446-89ac046a652c
      X-Sessionno:
      - '995267985'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.001492509","RelevancyScore":"1045","AccessLevel":"3","PubType":"Book","PubTypeId":"book"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330","ImageInfo":[{"Size":"thumb","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9781841958811"},{"Size":"medium","Target":"http:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9781841958811"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/001492509?","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.worldcat.org\/search?q=no%3A166367812","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Bananas
        : how the United Fruit Company shaped the world \/ Peter Chapman."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Chapman%2C+Peter%22&quot;&gt;Chapman,
        Peter&lt;\/searchLink&gt;, 1948-"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"Edinburgh ; New York : Canongate ;
        [Berkeley, Calif[...]
