---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 22 Nov 2017 20:31:34 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - af966115-a3c3-46d8-93b9-715477d60dc2
      X-Sessionno:
      - '2077565259'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"a55c896e-0e9b-4cc7-bff9-3016bf5233db.x2QcTtxye3n\/fIL+l8+nFgh5OLIiW68fCIpVvFaprgY="}'
  recorded_at: Wed, 22 Nov 2017 20:31:34 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 203e3aab-2ee9-4142-9231-a28d1180e1e3
      X-Sessionno:
      - '2077565259'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.000296523","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - eaf61aea-534a-439d-b3a4-52ff6380dc8d
      X-Sessionno:
      - '2077565259'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.000296523","RelevancyScore":"970","PubType":"Periodical","PubTypeId":"serialPeriodical"},"PLink":"http:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330","CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/000296523?","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.worldcat.org\/search?q=no%3A02187052","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"http:\/\/libraries.mit.edu\/get\/astmstand#?","Name":"MIT
        Catalog Customlink","Category":"fullText","Text":"","Icon":"https:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Annual
        book of ASTM standards."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22American+Society+for+Testing+and+Materials%2E%22&quot;&gt;American
        Society for Testing and Materials.&lt;\/searchLink&gt;"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"Philadelphia, Pa. : ASTM,"},{"Name":"DatePub","Labe[...]
