---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Mon, 13 Jul 2020 15:32:03 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - eb9ba837-268e-4875-bcce-857287b0fc17
      X-Sessionno:
      - "-1585052310"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Mon, 13 Jul 2020 15:32:03 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - a7567007-5a07-447d-87d3-82ac701f1eb6
      X-Sessionno:
      - "-1585052310"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"},{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.003696445","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 23568c84-bd7b-4a01-922f-1f1bed6d4e03
      X-Sessionno:
      - "-1585052310"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"","ErrorDescription":"Record not found","ErrorNumber":"132"}'
  recorded_at: Mon, 13 Jul 2020 15:32:04 GMT
recorded_with: VCR 6.0.0
