---
http_interactions:
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
      body:
        encoding: UTF-8
        string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - ""
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
    recorded_at: Fri, 26 Jun 2020 15:08:21 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - e1db274a-9591-428c-ae44-756ac9bccb1c
        X-Sessionno:
          - "907551231"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string: '{"SessionToken":"FakeSessiontoken"}'
    recorded_at: Fri, 26 Jun 2020 15:08:21 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 35162589-8c24-4419-8e37-8199653a142b
        X-Sessionno:
          - "-519889443"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string: '{"SessionToken":"FakeAuthenticationtoken"}'
    recorded_at: Fri, 26 Jun 2020 15:08:22 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/Info
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 6a49366e-9863-4969-b1a2-6b95a2054c52
        X-Sessionno:
          - "907551231"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
          Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
          Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
          Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
          equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
          related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
          search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
          Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
          Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
          Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
          Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
          Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
          Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
          Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
          Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
          Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
   [...]
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
      body:
        encoding: UTF-8
        string: '{"DbId":"mdc","An":"25750248","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 7eee0a7c-e97a-4c6f-92f8-8794ce4f6a94
        X-Sessionno:
          - "907551231"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Record":{"ResultId":1,"Header":{"DbId":"mdc","DbLabel":"MEDLINE Complete","An":"25750248","AccessLevel":"6","PubType":"Academic
          Journal","PubTypeId":"academicJournal"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=mdc&AN=25750248&authtype=sso&custid=s8978330","FullText":{"Links":[{"Type":"pdflink"}],"Text":{"Availability":"0"},"CustomLinks":[{"Url":"http:\/\/sfx.mit.edu\/sfx_local?genre=article&isbn=&issn=17451701&title=Schizophrenia
          bulletin&volume=41&issue=4&date=20150701&atitle=The%20%22Right%20Stuff%22%20Revisited%3A%20What%20Have%20We%20Learned%20About%20the%20Determinants%20of%20Daily%20Functioning%20in%20Schizophrenia%3F&aulast=Green
          MF&spage=781&sid=EBSCO:MEDLINE%20Complete&pid=<authors>Green MF<\/authors><ui>25750248<\/ui><date>20150701<\/date><db>MEDLINE%20Complete<\/db>","Name":"SFX
          link filtered to collection fthi1 (For su)","Category":"fullText","Text":"","Icon":"http:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"The
          &quot;Right Stuff&quot; Revisited: What Have We Learned About the Determinants
          of Daily Functioning in Schizophrenia?"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
          fieldCode=&quot;AU&quot; term=&quot;%22Green+MF%22&quot;&gt;Green MF&lt;\/searchLink&gt;;
          Desert Pacific Mental Illness Research, Education, and Clinical Center, Department
          of Veterans Affairs, Los Angels, CA; Department of Psychiatry and Biobehavioral
 [...]
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=25750248&dbid=mdc&format=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 3dcee2fe-1c46-468a-b7ef-16758b054d8a
        X-Sessionno:
          - "-519889443"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Format":"RIS","Label":"RIS Format","Data":"TY  - JOUR\u000d\u000aAU  -
          Green, Michael F\u000d\u000aAU  - Llerena, Katiah\u000d\u000aAU  - Kern, Robert
          S\u000d\u000aAN  - 25750248\u000d\u000aID  - 25750248\u000d\u000aT1  - The
          \"Right Stuff\" Revisited: What Have We Learned About the Determinants of
          Daily Functioning in Schizophrenia?\u000d\u000aJO  - Schizophrenia bulletin\u000d\u000aJF  -
          Schizophrenia bulletin\u000d\u000aJA  - Schizophr Bull\u000d\u000[...]
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=25750248&dbid=mdc&styles=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Msg-Correlid:
          - 167b0122-6414-4451-8d54-f9dfc63996da
      body:
        encoding: UTF-8
        string:
          '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"GREEN,
          M. F.; LLERENA, K.; KERN, R. S. The “Right Stuff” Revisited: What Have We
          Learned About the Determinants of Daily Functioning in Schizophrenia? <b>Schizophrenia
          bulletin<\/b>, <i>[s. l.]<\/i>, v. 41, n. 4, p. 781–785, 2015. DOI 10.1093\/schbul\/sbv018.
          Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=mdc&AN=25750248&authtype=sso&custid=s8978330.
          Acesso em: 26 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
          List","Data":"Green MF, Llerena K, Kern RS. The “Right Stuff” Revisited: What
          Have We Learned About the Determinants of Daily Functioning in Schizophrenia?
          <i>Schizophrenia bulletin<\/i>. 2015;41(4):781-785. doi:10.1093\/schbul\/sbv018.","Caption":"American
          Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"Green,
          M. F., Llerena, K., & Kern, R. S. (2015). The “Right Stuff” Revisited: What
          Have We Learned About the Determinants of Daily Functioning in Schizophrenia?
          <i>Schizophrenia Bulletin<\/i>, <i>41<\/i>(4), 781–785. https:\/\/doi.org\/10.1093\/schbul\/sbv018","Caption":"American
          Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
          Author-Date","SectionLabel":"Reference List","Data":"Green, Michael F, Katiah
          Llerena, and Robert S Kern. 2015. “The ‘Right Stuff’ Revisited: What Have
          We Learned About the Determinants of Daily Functioning in Schizophrenia?”
          <i>Schizophrenia Bulletin<\/i> 41 (4): 781–85. doi:10.1093\/schbul\/sbv018.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"Green,
          M. F., Ller[...]
