---
http_interactions:
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
      body:
        encoding: UTF-8
        string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - ""
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
    recorded_at: Thu, 25 Jun 2020 21:09:16 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - ""
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 04a90a7f-9b91-4b24-9cf8-5f63bc1fe9b2
        X-Sessionno:
          - "-387348412"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string: '{"SessionToken":"FakeSessiontoken"}'
    recorded_at: Thu, 25 Jun 2020 21:09:16 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - fdbd49bc-6fa3-4a51-b3cc-92d9c7c1b8eb
        X-Sessionno:
          - "-1357819981"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string: '{"SessionToken":"FakeSessiontoken"}'
    recorded_at: Thu, 25 Jun 2020 21:09:16 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/Info
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 9d882b26-8819-4d2b-a7ad-7f88b74c47f2
        X-Sessionno:
          - "-387348412"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
          Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
          Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
          Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
          equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
          related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
          search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
          Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"TI","Label":"Reviewed
          Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"2"},{"Id":"FR","Label":"References
          Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
          Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
          Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
          Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
          Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
          Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
          Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
          Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
   [...]
  - request:
      method: post
      uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
      body:
        encoding: UTF-8
        string: '{"DbId":"cat01763a","An":"mitcr.000115377","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 52e472ce-1848-48ee-8f82-060262f7a577
        X-Sessionno:
          - "-387348412"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Record":{"ResultId":1,"Header":{"DbId":"cat01763a","DbLabel":"MIT
          Course Reserves","An":"mitcr.000115377","RelevancyScore":"1082","AccessLevel":"3","PubType":"Book","PubTypeId":"book"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01763a&AN=mitcr.000115377&authtype=sso&custid=s8978330","ImageInfo":[{"Size":"thumb","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9780198768128"},{"Size":"medium","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9780198768128"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/res\/000115377?","Name":"MIT
          Course Reserves Full Record (cat01763a)","Category":"libCatalog","Text":"View
          catalog record","MouseOverText":"Go to Barton catalog to find this at the
          MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Inorganic
          chemistry \/ Mark Weller, University of Bath, Tina Overton, Monash University,
          Jonathan Rourke, University of Warwick, Fraser Armstrong, University of Oxford."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
          fieldCode=&quot;AR&quot; term=&quot;%22Weller%2C+Martin%2C+Dr%2E%22&quot;&gt;Weller,
          Martin, Dr.&lt;\/searchLink&gt;, author"},{"Name":"PubInfo","Label":"Publication
          Information","Group":"PubInfo","Data":"Oxford : Oxford University Press, [2018]"},{"Name":"EditionInfo","Label":"Edition","Group":"PubInfo","Data":"7th
          edition."},{"Name":"DatePub","Label":"Publication Date","Group":"Date","Data":"2018"},{"Name":"PhysDesc","Label":"Physical
          Description","Group":"PhysDesc","Data":"xx, 943 pages : illustrations (some
          color) ; 28 cm"},{"Name":"TypePub","Label":"Publication Type","Group":"TypPub","Data":"Book"},{"Name":"TypeDocument","Label":"Document
          Type","Group":"TypDoc","Data":"Non-fiction"},{"Name":"Subject","Label":"Subject
          Terms","Group":"Su","Data":"&lt;searchLink fieldCode=&quot;DE&quot; term=&quot;%22Chemistry%2C+Inorganic%22&quot;&gt;Chemistry,
          Inorganic&lt;\/searchLink&gt;"},{"Name":"Note","Label":"Notes","Group":"Note","Data":"Previous
          edition: 2014.&lt;br \/&gt;Includes bibliographical references and index.&lt;br
          \/&gt;5.03-SP20 Princ: Inorganic Chemistry I Inst.: Suess, Daniel Dept.: 5
          - Chemistry&lt;br \/&gt;Acquisition made possible by the Joseph R. (1924)
          and Jan William (1960) Mares Fund E-S.E-SMAR"},{"Name":"Author","Label":"Other
          Authors","Group":"Au","Data":"&lt;searchLink fieldCode=&quot;AR&quot; term=&quot;%22Overton%2C+Tina%22&quot;&gt;Overton,
          Tina&lt;\/searchLink&gt;, author"},{"Name":"Author","Label":"Other Authors","Group":"Au","Data":"&lt;searchLink
          fieldCode=&quot;AR&quot; term=&quot;%22Rourke%2C+Jonathan%22&quot;&gt;Rourke,
          Jonathan&lt;\/searchLink&gt;, author"},{"Name":"Author","Label":"Other Authors","Group":"Au","Data":"&lt;searchLink
          fieldCode=&quot;AR&quot; term=&quot;%22Armstrong%2C+F%2E+A%2E%22&quot;&gt;Armstrong,
          F. A.&lt;\/searchLink&gt; (Fraser A.), author"},{"Name":"ISBN","Label":"ISBN","Group":"ISBN","Data":"9780198768128&lt;br
          \/&gt;0198768125"},{"Name":"NumberControlLC","Label":"LCCN","Group":"ID","Data":"2018954386"},{"Name":"NumberOther","Label":"OCLC","Group":"ID","Data":"1043309397&lt;br
          \/&gt;1050757369"},{"Name":"AN","Label":"Accession Number","Group":"ID","Data":"mitcr.000115377"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Languages":[{"Text":"English"}],"Subjects":[{"SubjectFull":"Chemistry,
          Inorganic","Type":"general"}],"Titles":[{"TitleFull":"Inorganic chemistry.","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Weller,
          Martin, Dr."}}},{"PersonEntity":{"Name":{"NameFull":"Overton, Tina"}}},{"PersonEntity":{"Name":{"NameFull":"Rourke,
          Jonathan"}}},{"PersonEntity":{"Name":{"NameFull":"Armstrong, F. A."}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"01","Type":"published","Y":"2018"}],"Identifiers":[{"Type":"isbn-print","Value":"9780198768128"},{"Type":"isbn-print","Value":"0198768125"}],"Titles":[{"TitleFull":"Inorganic
          chemistry \/ Mark Weller, University of Bath, Tina Overton, Monash University,
          Jonathan Rourke, University of Warwick, Fraser Armstrong, University of Oxford.","Type":"main"}]}}]}}},"Holdings":[{"HoldingSimple":{"CopyInformationList":[{"Sublocation":"Rotch
          Library - Reserve Stacks","ShelfLocator":"QD151.3.W45 2018"}]}}],"IllustrationInfo":{}}}'
    recorded_at: Thu, 25 Jun 2020 21:09:17 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mitcr.000115377&dbid=cat01763a&format=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Authenticationtoken:
          - FakeAuthenticationtoken
        X-Msg-Correlid:
          - 29767e1f-8903-4361-83b0-c3989620ee5c
        X-Sessionno:
          - "-1357819981"
        X-Sessiontoken:
          - FakeSessiontoken
      body:
        encoding: UTF-8
        string:
          '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
          mitcr.000115377\u000d\u000aAU  - Weller, Martin, Dr.\u000d\u000aAU  - Overton,
          Tina\u000d\u000aAU  - Rourke, Jonathan\u000d\u000aAU  - Armstrong, F. A.\u000d\u000aT1  -
          Inorganic chemistry.\u000d\u000aY1  - 2018\/\/\/\u000d\u000aM3  - Non-fiction\u000d\u000aPB  -
          Oxford University Press\u000d\u000aET  - 7th edition.\u000d\u000aAV  - Rotch
          Library - Reserve Stacks QD151.3.W45 2018\u000d\u000aSN  - 9780198768128\u000d\u000aSN  -
          0198768125\u000d\u000aKW  - Chemistry, Inorganic\u000d\u000aN1  - Accession
          Number: mitcr.000115377; Other Notes: Previous edition: 2014.; Includes bibliographical
          references and index.; 5.03-SP20 Princ: Inorganic Chemistry I Inst.: Suess,
          Daniel Dept.: 5 - Chemistry; Acquisition made possible by the Joseph R. (1924)
          and Jan William (1960) Mares Fund E-S.E-SMAR; Publication Type: Book; Physical
          Description: xx, 943 pages : illustrations (some color) ; 28 cm; Language:
          English; LCCN: 2018954386; OCLC: 1043309397\u000d\u000aUR  - https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01763a&AN=mitcr.000115377&authtype=sso&custid=s8978330\u000d\u000aDP  -
          EBSCOhost\u000d\u000aDB  - cat01763a\u000d\u000aER  - \u000d\u000a"}'
    recorded_at: Thu, 25 Jun 2020 21:09:18 GMT
  - request:
      method: get
      uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mitcr.000115377&dbid=cat01763a&styles=all
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Sessiontoken:
          - FakeSessiontoken
        X-Authenticationtoken:
          - FakeAuthenticationtoken
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Msg-Correlid:
          - 56d88724-c92e-4d93-9b40-c3c44c48f319
      body:
        encoding: UTF-8
        string:
          '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"WELLER,
          M., Dr. <i>et al.<\/i> <b>Inorganic chemistry<\/b>. 7th edition. <i>[s. l.]<\/i>:
          Oxford University Press, 2018. ISBN 9780198768128. Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01763a&AN=mitcr.000115377&authtype=sso&custid=s8978330.
          Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
          List","Data":"Weller M Dr, Overton T, Rourke J, Armstrong FA. <i>Inorganic
          Chemistry<\/i>. 7th edition. Oxford University Press; 2018. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01763a&AN=mitcr.000115377&authtype=sso&custid=s8978330.
          Accessed June 25, 2020.","Caption":"American Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"Weller,
          M., Dr., Overton, T., Rourke, J., & Armstrong, F. A. (2018). <i>Inorganic
          chemistry<\/i> (7th edition.). Oxford University Press. ","Caption":"American
          Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
          Author-Date","SectionLabel":"Reference List","Data":"Weller, Martin, Dr.,
          Tina Overton, Jonathan Rourke, and F. A. Armstrong. 2018. <i>Inorganic Chemistry<\/i>.
          7th edition. Oxford University Press. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat01763a&AN=mitcr.000115377&authtype=sso&custid=s8978330.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"Weller,
  [...]
