---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Thu, 25 Jun 2020 18:54:43 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 1d036516-e1bf-4a1b-82dd-def1df0d7dfb
      X-Sessionno:
      - "-2010149290"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Thu, 25 Jun 2020 18:54:43 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - e2d53ad2-a13e-4508-bc6d-e39c0bf1a8d5
      X-Sessionno:
      - "-1740830130"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"6d0b5c8c-5831-453d-b292-3d2522332690.zyvGxY0uax\/HvoMwEHxggEFnzdmIkXkhboXYN3LRQMI="}'
  recorded_at: Thu, 25 Jun 2020 18:54:44 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 492870ef-3673-4f7f-a5c3-684abc050f50
      X-Sessionno:
      - "-2010149290"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.002613248","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - ed0a13e6-021b-4730-abfb-55404cdbc1ad
      X-Sessionno:
      - "-2010149290"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.002613248","RelevancyScore":"1138","AccessLevel":"3","PubType":"eBook","PubTypeId":"ebook"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.002613248&authtype=sso&custid=s8978330","ImageInfo":[{"Size":"thumb","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9781479893874"},{"Size":"medium","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9781479893874"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/002613248?","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.on.worldcat.org\/oclc\/982432624?","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/F\/?func=service-sfx&doc_number=002613248&line_number=0000&service_type=RECORD#?","Name":"MIT
        Catalog Customlink","Category":"fullText","Text":"","Icon":"https:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"LGBTQ
        politics : a critical reader \/ edited by Marla Brettschneider, Susan Burgess,
        Christine Keating."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"New York, NY : New York University
        Press, [2017]"},{"Name":"DatePub","Label":"Publication Date","Group":"Date","Data":"2017"},{"Name":"PhysDesc","Label":"Physical
        Description","Group":"PhysDesc","Data":"x[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mit.002613248&dbid=cat00916a&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - a8e4f3ed-7ccc-48ab-8843-360f003ca1d1
      X-Sessionno:
      - "-1740830130"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
        mit.002613248\u000d\u000aAU  - Brettschneider, Marla\u000d\u000aAU  - Burgess,
        Susan\u000d\u000aAU  - Keating, Christine\u000d\u000aT1  - LGBTQ politics
        : a critical reader.\u000d\u000aY1  - 2017\/\/\/\u000d\u000aM3  - Bibliographies\u000d\u000aM3  -
        Non-fiction\u000d\u000aPB  - New York, NY : New York University Press, [2017]\u000d\u000aAV  -
        Hayden Library - Stacks HQ76.5.L49 2017\u000d\u000aSN  - 9781479893874\u000d\u000aSN  -
        1479893870\u000d\u000aSN  - 9781479834099\u000d\u000aSN  - 1479834092\u000d\u000aN2  -
        Summary: \"From Harvey Milk to ACT UP to Proposition 8, no political change
        in the last two decades has been as rapid as the advancement of civil rights
        for LGBTQ people. As we face a critical juncture in progressive activism,
        political science, which has been slower than most disciplines to study the
        complexity of queer politics, must grapple with the shifting landscape of
        LGBTQ rights and inclusion. LGBTQ Politics analyzes both the successes and
        obstacle[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mit.002613248&dbid=cat00916a&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - e4b2f896-4085-486f-ba5c-ef9845dbb479
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"BRETTSCHNEIDER,
        M.; BURGESS, S.; KEATING, C. <b>LGBTQ politics : a critical reader<\/b>. <i>[s.
        l.]<\/i>: New York, NY : New York University Press, [2017], 2017. ISBN 9781479893874.
        Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.002613248&authtype=sso&custid=s8978330.
        Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
        List","Data":"Brettschneider M, Burgess S, Keating C. <i>LGBTQ Politics :
        A Critical Reader<\/i>. New York, NY : New York University Press, [2017];
        2017. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.002613248&authtype=sso&custid=s8978330.
        Accessed June 25, 2020.","Caption":"American Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"Brettschneider,
        M., Burgess, S., & Keating, C. (2017). <i>LGBTQ politics : a critical reader<\/i>.
        New York, NY : New York University Press, [2017]. ","Caption":"American Psychological
        Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian: Author-Date","SectionLabel":"Reference
        List","Data":"Brettschneider, Marla, Susan Burgess, and Christine Keating.
        2017. <i>LGBTQ Politics : A Critical Reader<\/i>. New York, NY : New York
        University Press, [2017]. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.002613248&authtype=sso&custid=s8978330.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"Bre[...]
