---
http_interactions:
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 776a4a64-0b91-40ff-b6d4-5714ae746ad4
      X-Sessionno:
      - '1398954277'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"7b9c0fae-10b1-455f-93a5-1b034ac44930.xS\/B3EBaszYLHVemWvb\/i7Z96t1kuO7jK1xC33AOBG8="}'
  recorded_at: Wed, 23 Aug 2017 18:51:43 GMT
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve?cache_id=a3dca1859b36b70a044093ec663fe8f3
    body:
      encoding: UTF-8
      string: '{"DbId":"dog00916a","An":"mit.001492509","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 7f783264-2d80-417e-ac58-7faa73bc51e4
      X-Sessionno:
      - '1398954277'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"DetailedErrorDescription":"DbId dog00916a not available for profile
        FAKE_EDS_PROFILE.","ErrorDescription":"DbId Not In Profile","ErrorNumber":"135"}'
  recorded_at: Wed, 23 Aug 2017 18:51:43 GMT
recorded_with: VCR 3.0.3
