---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Thu, 25 Jun 2020 18:17:00 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - e6ce555e-c229-451d-b160-b195576c4621
      X-Sessionno:
      - "-1918273986"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"007cdd08-c742-457e-b1f7-bfcc8fa63049.9n+m\/vHmV6+nhQ29w4Qner7gobwtEfqGkKzofWL4Di8="}'
  recorded_at: Thu, 25 Jun 2020 18:17:00 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d71c679e-4309-488f-9ea8-4168cf622386
      X-Sessionno:
      - "-757698267"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"bbd6d4ae-a6c4-467f-84ab-99742dcfa013.X\/oOUoIf7iyk9u8QdmAGc2kQ0JkxX8zLae8N0Oc5cTA="}'
  recorded_at: Thu, 25 Jun 2020 18:17:00 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - b8166e09-d09f-4bdb-8378-5f6b2b6ffa30
      X-Sessionno:
      - "-1918273986"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"edselp","An":"S002965541630392X","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 4c2c13c4-fb6f-4e87-98b9-4eee6cd25353
      X-Sessionno:
      - "-1918273986"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"edselp","DbLabel":"ScienceDirect","An":"S002965541630392X","RelevancyScore":"1111","AccessLevel":"2","PubType":"Academic
        Journal","PubTypeId":"academicJournal"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=edselp&AN=S002965541630392X&authtype=sso&custid=s8978330","FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"https:\/\/sfx.mit.edu\/sfx_local?ID=doi:10.1016\/j.outlook.2017.03.004&genre=article&atitle=Coverage%20and%20quality%3A%20A%20comparison%20of%20Web%20of%20Science%20and%20Scopus%20databases%20for%20reporting%20faculty%20nursing%20publication%20metrics&title=Nursing%20Outlook&issn=00296554&isbn=&volume=65&issue=5&date=20170901&aulast=Powell,
        Kimberly R.&spage=572&pages=572-578&sid=EBSCO:ScienceDirect:S002965541630392X","Name":"SFX
        link (not subscribed resources)","Category":"fullText","Text":"Check SFX for
        availability","MouseOverText":"Check SFX for availability."}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Coverage
        and quality: A comparison of Web of Science and Scopus databases for reporting
        faculty nursing publication metrics"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Powell%2C+Kimberly+R%2E%22&quot;&gt;Powell,
        Kimberly R.&lt;\/searchLink&gt; &lt;superscript&gt;∗&lt;\/superscript&gt;&lt;br
        \/&gt;&lt;searchLink fieldCode=&quot;AR&quot; term=&quot;%22Peterson%2C+Shenita+R%2E%22&quot;&gt;Peterson,
        Shenita R.&lt;\/searchLink&gt;"},{"Name":"TitleSource","Label":"Source","Group":"Src","Data":"In
        &lt;searchLink fieldCode=&quot;JN&quot; term=&quot;%22Nursing+Outlook%22&quot;&gt;Nursing
        Outlook&lt;\/searchLink&gt; September-October 2017 65(5):572-578"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Identifiers":[{"Type":"doi","Value":"10.1016\/j.outlook.2017.03.004"}],"Languages":[{"Code":"eng","Text":"English"}],"PhysicalDescription":{"Pagination":{"PageCount":"7","StartPage":"572"}},"Titles":[{"TitleFull":"Coverage
        and quality: A comparison of Web of Science and Scopus databases for reporting
        faculty nursing publication metrics","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Powell,
        Kimberly R."}}},{"PersonEntity":{"Name":{"NameFull":"Peterson, Shenita R."}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"09","Text":"September-October
        2017","Type":"published","Y":"2017"}],"Identifiers":[{"Type":"issn-electronic","Value":"00296554"}],"Numbering":[{"Type":"volume","Value":"65"},{"Type":"issue","Value":"5"}],"Titles":[{"TitleFull":"Nursing
        Outlook","Type":"main"}]}}]}}},"IllustrationInfo":{}}}'
  recorded_at: Thu, 25 Jun 2020 18:17:01 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=S002965541630392X&dbid=edselp&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 56d3269e-6344-4dbe-80b1-746a7f3d6064
      X-Sessionno:
      - "-757698267"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - JOUR\u000d\u000aID  -
        S002965541630392X\u000d\u000aAU  - Powell, Kimberly R.\u000d\u000aAU  - Peterson,
        Shenita R.\u000d\u000aT1  - Coverage and quality: A comparison of Web of Science
        and Scopus databases for reporting faculty nursing publication metrics\u000d\u000aJO  -
        Nursing Outlook\u000d\u000aJF  - Nursing Outlook\u000d\u000aJ1  - Nursing
        Outlook\u000d\u000aPY  - 2017\/09\/01\/September 2017\/\/\/\u000d\u000aY[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=S002965541630392X&dbid=edselp&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - b9d7b49a-ab2e-4429-a8e6-a7d91d69c6c1
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"POWELL,
        K. R.; PETERSON, S. R. Coverage and quality: A comparison of Web of Science
        and Scopus databases for reporting faculty nursing publication metrics. <b>Nursing
        Outlook<\/b>, <i>[s. l.]<\/i>, v. 65, n. 5, p. 572–578, 2017. DOI 10.1016\/j.outlook.2017.03.004.
        Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=edselp&AN=S002965541630392X&authtype=sso&custid=s8978330.
        Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
        List","Data":"Powell KR, Peterson SR. Coverage and quality: A comparison of
        Web of Science and Scopus databases for reporting faculty nursing publication
        metrics. <i>Nursing Outlook<\/i>. 2017;65(5):572-578. doi:10.1016\/j.outlook.2017.03.004.","Caption":"American
        Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"Powell,
        K. R., & Peterson, S. R. (2017). Coverage and quality: A comparison of Web
        of Science and Scopus databases for reporting faculty nursing publication
        metrics. <i>Nursing Outlook<\/i>, <i>65<\/i>(5), 572–578. https:\/\/doi.org\/10.1016\/j.outlook.2017.03.004","Caption":"American
        Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
        Author-Date","SectionLabel":"Reference List","Data":"Powell, Kimberly R.,
        and Shenita R. Peterson. 2017. “Coverage and Quality: A Comparison of Web
        of Science and Scopus Databases for Reporting Faculty Nursing Publication
        Metrics.” <i>Nursing Outlook<\/i> 65 (5): 572–78. doi:10.1016\/j.outlook.2017.03.004.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"Powell,
        K. R. and Peterson, S. R. (2017) ‘Coverage and quality: A comparison of Web
        of Science and Scopus databases for reporting faculty nursing publication
        metrics’, <i>Nursing Outlook<\/i>, 65(5), pp. 572–578. doi: 10.1016\/j.outlook.2017.03.004."},{"Id":"harvardaustralian","Label":"Harvard:
        Australian","SectionLabel":"References","Data":"Powell, KR & Peterson, SR
        2017, ‘Coverage and quality: A comparison of Web of Science and Scopus databases
        for reporting faculty nursing publication metrics’, <i>Nursing Outlook<\/i>,
        vol. 65, no. 5, pp. 572–578, viewed 25 June 2020, <https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=edselp&AN=S002965541630392X&authtype=sso&custid=s8978330>."},{"Id":"mla","Label":"MLA","SectionLabel":"Works
        Cited","Data":"Powell, Kimberly R., and Shenita R. Peterson. “Coverage and
        Quality: A Comparison of Web of Science and Scopus Databases for Reporting
        Faculty Nursing Publication Metrics.” <i>Nursing Outlook<\/i>, vol. 65, no.
        5, Sept. 2017, pp. 572–578. <i>EBSCOhost<\/i>, doi:10.1016\/j.outlook.2017.03.004.","Caption":"Modern
        Language Assoc.","Indent":1},{"Id":"turabian","Label":"Chicago\/Turabian:
        Humanities","SectionLabel":"Bibliography","Data":"Powell, Kimberly R., and
        Shenita R. Peterson. “Coverage and Quality: A Comparison of Web of Science
        and Scopus Databases for Reporting Faculty Nursing Publication Metrics.” <i>Nursing
        Outlook<\/i> 65, no. 5 (September 1, 2017): 572–78. doi:10.1016\/j.outlook.2017.03.004.","Indent":1},{"Id":"vancouver","Label":"Vancouver\/ICMJE","SectionLabel":"References","Data":"Powell
        KR, Peterson SR. Coverage and quality: A comparison of Web of Science and
        Scopus databases for reporting faculty nursing publication metrics. Nursing
        Outlook [Internet]. 2017 Sep 1 [cited 2020 Jun 25];65(5):572–8. Available
        from: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=edselp&AN=S002965541630392X&authtype=sso&custid=s8978330"}]}'
  recorded_at: Thu, 25 Jun 2020 18:17:02 GMT
recorded_with: VCR 6.0.0
