---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Thu, 25 Jun 2020 18:12:16 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - fe5d4c5a-d10c-43a3-b044-38aef85744b1
      X-Sessionno:
      - '939904157'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"a255ce46-776a-4bca-b146-36339be4b596.5JgfMTB1gKOIOZzTEYJSuQQ2FUjpwzp\/4Hb2DaAbsD0="}'
  recorded_at: Thu, 25 Jun 2020 18:12:16 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 2f0cb08f-afe3-40f1-9380-27f112e876f1
      X-Sessionno:
      - '647724728'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"39d4af43-d4db-4113-9ef8-c448c7cf626b.x57ppSpbdLwkVYNzs2rHVKwR\/JwDYFUdcaIaztK4S74="}'
  recorded_at: Thu, 25 Jun 2020 18:12:17 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 65b9465d-f06b-4e78-aea6-828c0a414195
      X-Sessionno:
      - '939904157'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"},{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"},{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"2"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.000296523","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 9504d50c-6278-48e4-9193-10a30496fb53
      X-Sessionno:
      - '939904157'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.000296523","RelevancyScore":"970","AccessLevel":"3","PubType":"Periodical","PubTypeId":"serialPeriodical"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330","CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/000296523?","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.on.worldcat.org\/oclc\/02187052?","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"},"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/F\/?func=service-sfx&doc_number=000296523&line_number=0000&service_type=RECORD#?","Name":"MIT
        Catalog Customlink","Category":"fullText","Text":"","Icon":"https:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Annual
        book of ASTM standards."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22American+Society+for+Testing+and+Materials%2E%22&quot;&gt;American
        Society for Testing and Materials.&lt;\/searchLink&gt;"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"Philadelphia, Pa. : ASTM,"},{"Name":"DatePub","Labe[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mit.000296523&dbid=cat00916a&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 9703cd61-c3ba-4dde-8745-e71d2f0f9f07
      X-Sessionno:
      - '647724728'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
        mit.000296523\u000d\u000aT1  - Annual book of ASTM standards.\u000d\u000aY1  -
        1970\/\/\/\u000d\u000aM3  - Periodical\u000d\u000aPB  - Philadelphia, Pa.
        : ASTM,\u000d\u000aAV  - Barker Library - Reference Collection TA401.A5173\u000d\u000aSN  -
        0192-2998\u000d\u000aN2  - Barker Library - Reference Collection | TA401.A5173
        | 2009;1970-2015:index\u000d\u000aN2  - Library Storage Annex - Off Campu[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mit.000296523&dbid=cat00916a&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - 458c88d6-010f-4170-a018-e948e19ea909
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"<b>Annual
        book of ASTM standards<\/b>. <i>[s. l.]<\/i>: Philadelphia, Pa. : ASTM, 1970.
        ISBN 0192-2998. Disponível em: https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330.
        Acesso em: 25 jun. 2020.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA","SectionLabel":"Reference
        List","Data":"<i>Annual Book of ASTM Standards<\/i>. Philadelphia, Pa. : ASTM,;
        1970. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330.
        Accessed June 25, 2020.","Caption":"American Medical Assoc."},{"Id":"apa","Label":"APA","SectionLabel":"References","Data":"<i>Annual
        book of ASTM standards<\/i>. (1970). Philadelphia, Pa. : ASTM,. ","Caption":"American
        Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago\/Turabian:
        Author-Date","SectionLabel":"Reference List","Data":"<i>Annual Book of ASTM
        Standards<\/i>. 1970. Philadelphia, Pa. : ASTM,. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330.","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel":"References","Data":"<i>Annual
        book of ASTM standards<\/i> (1970). Philadelphia, Pa. : ASTM,. Available at:
        https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330
        (Accessed: 25 June 2020)."},{"Id":"harvardaustralian","Label":"Harvard: Australian","SectionLabel":"References","Data":"<i>Annual
        book of ASTM standards<\/i> 1970, Philadelphia, Pa. : ASTM, viewed 25 June
        2020, <https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.000296523&authtype=sso&custid=s8978330>."},{"Id":"mla[...]
