---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Tue, 27 Sep 2016 19:01:19 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 1a769061-8939-4160-907f-8b90a52d6973
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Tue, 27 Sep 2016 19:01:19 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&highlight=n&includefacets=n&pagenumber=1&query=web%20of%20science&resultsperpage=5&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 3987434b-feec-4cc0-af17-cc7dc16b015b
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,web+of+science&sort=relevance&includefacets=n&searchmode=smart&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"web
        of science"},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":37667909,"TotalSearchTime":898,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":568133},{"Id":"bwh","Label":"","Status":"0","Hits":362498},{"Id":"egh","Label":"Environment
        Index","Status":"0","Hits":913376},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":67892},{"Id":"cmedm","Label":"MEDLINE","Status":"0","Hits":1181382},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":90126},{"Id":"fyh","Label":"Women''s
        Studies International","Status":"0","Hits":17299},{"Id":"bth","Label":"Business
        Source Complete","Status":"0[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 920e81fc-e0e3-4cac-b4fa-a4ded2d7fd51
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Tue, 27 Sep 2016 19:01:20 GMT
recorded_with: VCR 3.0.3
