---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 14 Sep 2016 17:13:13 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 012aaccc-78f3-4835-96c1-82897f27e840
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 14 Sep 2016 17:13:13 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&highlight=n&includefacets=n&pagenumber=1&query=R.%20F.%20Harrington%20Field%20computation%20by%20moment%20methods.%20Macmillan%201968&resultsperpage=3&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 72789bef-eae0-400a-94c3-8a2b54027efd
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,R.+F.+Harrington+Field+computation+by+moment+methods.+Macmillan+1968&sort=relevance&includefacets=n&searchmode=smart&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"R.
        F. Harrington Field computation by moment methods. Macmillan 1968"},"RemoveAction":"removequery(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":77612346,"TotalSearchTime":1183,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":452754},{"Id":"bwh","Label":"","Status":"0","Hits":426318},{"Id":"egh","Label":"Environment
        Index","Status":"0","Hits":1013413},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":462463},{"Id":"cmedm","Label":"MEDLINE","Status":"0","Hits":9177031},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":80111},{"Id":"fyh","Label":"Women''s
        Studies International","Status":"0","Hits":98234},{"Id":"bth","Label":"Business
        Source Complete","Status":[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 371790b4-cbf5-41fd-b248-f801b2491d2d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Wed, 14 Sep 2016 17:13:14 GMT
recorded_with: VCR 3.0.3
