---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 16 Jun 2021 20:22:35 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 166643ff-51e8-47ec-9610-ab3012979f77
      X-Sessionno:
      - '777872804'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 16 Jun 2021 20:22:35 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d4ca0aec-26cd-48c3-a1fe-8b4797545e03
      X-Sessionno:
      - '974705124'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 16 Jun 2021 20:22:35 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 9a8d5e19-96fd-4393-9487-4ba8985593c2
      X-Sessionno:
      - '777872804'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"},{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"2"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"aci","An":"123877356","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d010ec4c-7873-4f51-8ad4-776dcdf47943
      X-Sessionno:
      - '777872804'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"aci","DbLabel":"Applied Science
        & Technology Source","An":"123877356","AccessLevel":"2","PubType":"Academic
        Journal","PubTypeId":"academicJournal"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=aci&AN=123877356&authtype=sso&custid=s8978330","FullText":{"Links":[{"Type":"pdflink"}],"Text":{"Availability":"0"},"CustomLinks":[{"Url":"http:\/\/sfx.mit.edu\/sfx_local?genre=article&isbn=&issn=20796374&title=Biosensors
        (2079-6374)&volume=7&issue=2&date=20170601&atitle=Ultrasensitive%20Label-Free%20Sensing%20of%20IL-6%20Based%20on%20PASE%20Functionalized%20Carbon%20Nanotube%20Micro-Arrays%20with%20RNA-Aptamers%20as%20Molecular%20Recognition%20Elements.&aulast=Khosravi,
        Farhad&spage=17&sid=EBSCO:Applied%20Science%20%26%20Technology%20Source&pid=<authors>Khosravi,
        Farhad<\/authors><ui>123877356<\/ui><date>20170601<\/date><db>Applied%20Science%20%26%20Technology%20Source<\/db>","Name":"SFX
        link filtered to collection fthi1 (For su)","Category":"fullText","Text":"","Icon":"http:\/\/libraries.mit.edu\/img\/sfx\/sfx-mit.gif"}]},"Items":[{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AU&quot; term=&quot;%22Khosravi%2C+Farhad%22&quot;&gt;Khosravi,
        Farhad&lt;\/searchLink&gt;&lt;relatesTo&gt;1&lt;\/relatesTo&gt;, &lt;i&gt;fkhosravi@wpi.edu&lt;\/i&gt;&lt;br
        \/&gt;&lt;searchLink fieldCode=&quot;AU&quot; term=&quot;%22Loeian%2C+Seyed+Masoud%22&quot;&gt;Loeian,
        Seyed Masoud&lt;\/searchLink&gt;&lt;relatesTo&gt;1&lt;\/relatesTo&gt;, &lt;i&gt;smloeian@wpi.edu&lt;\/i&gt;&lt;br
        \/&gt;&lt;searchLink fieldCode=&quot;AU&quot; term=&quot;%22Panchapakesan%2C+Balaji%22&quot;&gt;Panchapakesan,
        Balaji&lt;\/searchLink&gt;&lt;relatesTo&gt;1&lt;\/relatesTo&gt;, &lt;i&gt;bpanchapakesan@wpi.edu&lt;\/i&gt;"},{"Name":"TitleSource","Label":"Source","Group":"Src","Data":"&lt;searchLink
        fieldCode=&quot;JN&quot; term=&quot;%22Biosensors+%282079-6374%29%22&quot;&gt;Biosensors
        (2079-6374)&lt;\/searchLink&gt;; Jun2017, Vol. 7 Issue 2, p17, 13p"}],"RecordInfo":{"BibRecord":{"BibEntity":{"Identifiers":[{"Type":"doi","Value":"10.3390\/bios7020017"}],"Languages":[{"Code":"eng","Text":"English"}],"PhysicalDescription":{"Pagination":{"PageCount":"13","StartPage":"17"}},"Titles":[{"TitleFull":"Ultrasensitive
        Label-Free Sensing of IL-6 Based on PASE Functionalized Carbon Nanotube Micro-Arrays
        with RNA-Aptamers as Molecular Recognition Elements.","Type":"main"}]},"BibRelationships":{"HasContributorRelationships":[{"PersonEntity":{"Name":{"NameFull":"Khosravi,
        Farhad"}}},{"PersonEntity":{"Name":{"NameFull":"Loeian, Seyed Masoud"}}},{"PersonEntity":{"Name":{"NameFull":"Panchapakesan,
        Balaji"}}}],"IsPartOfRelationships":[{"BibEntity":{"Dates":[{"D":"01","M":"06","Text":"Jun2017","Type":"published","Y":"2017"}],"Identifiers":[{"Type":"issn-print","Value":"20796374"}],"Numbering":[{"Type":"volume","Value":"7"},{"Type":"issue","Value":"2"}],"Titles":[{"TitleFull":"Biosensors
        (2079-6374)","Type":"main"}]}}]}}},"IllustrationInfo":{}}}'
  recorded_at: Wed, 16 Jun 2021 20:22:36 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=123877356&dbid=aci&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - a3ac0253-4d3c-4170-9ebf-e205c829b768
      X-Sessionno:
      - '974705124'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - JOUR\u000d\u000aAU  -
        Khosravi, Farhad\u000d\u000aAU  - Loeian, Seyed Masoud\u000d\u000aAU  - Panchapakesan,
        Balaji\u000d\u000aT1  - Ultrasensitive Label-Free Sensing of IL-6 Based on
        PASE Functionalized Carbon Nanotube Micro-Arrays with RNA-Aptamers as Molecular
        Recognition Elements.\u000d\u000aJO  - Biosensors (2079-6374)\u000d\u000aJF  -
        Biosensors (2079-6374)\u000d\u000aJ1  - Biosensors (2079-6374)\u000d\u000aPY[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=123877356&dbid=aci&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - b14a5c1f-d05c-4295-a86a-000e17ebf3e8
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"KHOSRAVI,
        F.; LOEIAN, S. M.; PANCHAPAKESAN, B. Ultrasensitive Label-Free Sensing of
        IL-6 Based on PASE Functionalized Carbon Nanotube Micro-Arrays with RNA-Aptamers
        as Molecular Recognition Elements. <b>Biosensors (2079-6374)<\/b>, <i>[s.
        l.]<\/i>, v. 7, n. 2, p. 17, 2017. DOI 10.3390\/bios7020017. Disponível em:
        https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=aci&AN=123877356&authtype=sso&custid=s8978330.
        Acesso em: 16 jun. 2021.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA
        11th Edition","SectionLabel":"Reference List","Data":"Khosravi F, Loeian SM,
        Panchapakesan B. Ultrasensitive Label-Free Sensing of IL-6 Based on PASE Functionalized
        Carbon Nanotube Micro-Arrays with RNA-Aptamers as Molecular Recognition Elements.
        <i>Biosensors (2079-6374)<\/i>. 2017;7(2):17. doi:10.3390\/bios7020017","Caption":"American
        Medical Assoc."},{"Id":"apa","Label":"APA 7th Edition","SectionLabel":"References","Data":"Khosravi,
        F., Loeian, S. M., & Panchapakesan, B. (2017). Ultrasensitive Label-Free Sensing
        of IL-6 Based on PASE Functionalized Carbon Nanotube Micro-Arrays with RNA-Aptamers
        as Molecular Recognition Elements. <i>Biosensors (2079-6374)<\/i>, <i>7<\/i>(2),
        17. https:\/\/doi.org\/10.3390\/bios7020017","Caption":"American Psychological
        Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago 17th Edition","SectionLabel":"Reference
        List","Data":"Khosravi, Farhad, Seyed Masoud Loeian, and Balaji Panchapakesan.
        2017. “Ultrasensitive Label-Free Sensing of IL-6 Based on PASE Functionalized
        Carbon Nanotube Micro-Arrays with RNA-Aptamers as Molecular Recognition Elements.”
        <i>Biosensors (2079-6374)<\/i> 7 (2): 17. doi:10.3390\/bios7020017.","Caption":"Author-Date","Indent":1},{"Id":"harvard","Label":"Harvard","SectionLabel[...]
