---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/uidauth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD","InterfaceId":"edsapi_ruby_gem"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Wed, 16 Jun 2021 20:00:45 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=y&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - ''
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 36e81b15-da6b-410c-a736-f02a0f79ada6
      X-Sessionno:
      - "-381234571"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"dd97bef9-eab1-4265-89cf-673fa49b90ad.qQgvyQMyAqRIp32LD3kBlGFIHOR62tg\/6pqWhTh1uxc="}'
  recorded_at: Wed, 16 Jun 2021 20:00:45 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?displaydatabasename=y&guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 11c87ab0-7315-44af-8440-25d29b5a7151
      X-Sessionno:
      - '766386613'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Wed, 16 Jun 2021 20:00:46 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - f9b678e7-dc80-4e20-b40f-e9f3af404f0d
      X-Sessionno:
      - "-381234571"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"AvailableSearchCriteria":{"AvailableSorts":[{"Id":"relevance","Label":"Relevance","AddAction":"setsort(relevance)"},{"Id":"date","Label":"Date
        Newest","AddAction":"setsort(date)"},{"Id":"date2","Label":"Date Oldest","AddAction":"setsort(date2)"}],"AvailableSearchFields":[{"FieldCode":"TX","Label":"All
        Text"},{"FieldCode":"AU","Label":"Author"},{"FieldCode":"TI","Label":"Title"},{"FieldCode":"SU","Label":"Subject
        Terms"},{"FieldCode":"SO","Label":"Source"},{"FieldCode":"AB","Label":"Abstract"},{"FieldCode":"IS","Label":"ISSN"},{"FieldCode":"IB","Label":"ISBN"}],"AvailableExpanders":[{"Id":"thesaurus","Label":"Apply
        related words","AddAction":"addexpander(thesaurus)","DefaultOn":"n"},{"Id":"fulltext","Label":"Also
        search within the full text of the articles","AddAction":"addexpander(fulltext)","DefaultOn":"y"},{"Id":"relatedsubjects","Label":"Apply
        equivalent subjects","AddAction":"addexpander(relatedsubjects)","DefaultOn":"n"}],"AvailableLimiters":[{"Id":"FT","Label":"Full
        Text","Type":"select","AddAction":"addlimiter(FT:value)","DefaultOn":"n","Order":"1"},{"Id":"TI","Label":"Reviewed
        Book Title","Type":"text","AddAction":"addlimiter(TI:value)","DefaultOn":"n","Order":"2"},{"Id":"FR","Label":"References
        Available","Type":"select","AddAction":"addlimiter(FR:value)","DefaultOn":"n","Order":"3"},{"Id":"RV","Label":"Peer
        Reviewed","Type":"select","AddAction":"addlimiter(RV:value)","DefaultOn":"n","Order":"4"},{"Id":"AU","Label":"Author","Type":"text","AddAction":"addlimiter(AU:value)","DefaultOn":"n","Order":"5"},{"Id":"SO","Label":"Journal
        Name","Type":"text","AddAction":"addlimiter(SO:value)","DefaultOn":"n","Order":"6"},{"Id":"DT1","Label":"Date
        Published","Type":"ymrange","AddAction":"addlimiter(DT1:value)","DefaultOn":"n","Order":"7"},{"Id":"LB","Label":"Location","Type":"multiselectvalue","LimiterValues":[{"Value":"MIT
        Barton Catalog","AddAction":"addlimiter(LB:MIT Barton Catalog)","LimiterValues":[{"Value":"Barker
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Barker Library)"},{"Value":"Dewey
        Library","AddAction":"addlimiter(LB:MIT Barton Catalog-Dewey Library)"},{"Value":"Hayden
        Library - Humanities","AddAction":"addlimiter(LB:MIT Barton Catalog-Hayden
        Library - Humanities)"},{"Value":"Hayden Library - Science","AddAction":"addlimiter(LB:MIT
        Barto[...]
- request:
    method: post
    uri: https://eds-api.ebscohost.com/edsapi/rest/Retrieve
    body:
      encoding: UTF-8
      string: '{"DbId":"cat00916a","An":"mit.001492509","HighlightTerms":null,"EbookPreferredFormat":"ebook-pdf"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - bda2e2f5-6778-4234-893d-3b6ab8e78154
      X-Sessionno:
      - "-381234571"
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Record":{"ResultId":1,"Header":{"DbId":"cat00916a","DbLabel":"MIT
        Barton Catalog","An":"mit.001492509","RelevancyScore":"1038","AccessLevel":"3","PubType":"Book","PubTypeId":"book"},"PLink":"https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330","ImageInfo":[{"Size":"thumb","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=S&Value=9781841958811"},{"Size":"medium","Target":"https:\/\/contentcafe2.btol.com\/ContentCafe\/jacket.aspx?UserID=ebsco-test&Password=ebsco-test&Return=T&Type=M&Value=9781841958811"}],"CustomLinks":[{"Url":"https:\/\/library.mit.edu\/item\/001492509","Name":"MIT
        Barton Catalog Full Record (cat00916a)","Category":"libCatalog","Text":"View
        catalog record","MouseOverText":"Go to Barton catalog to find this at the
        MIT Libraries"},{"Url":"https:\/\/mit.on.worldcat.org\/oclc\/166367812","Name":"WorldCat
        customlink","Category":"ill","Text":"Get it in the library","MouseOverText":"Get
        items from MIT & non-MIT Libraries"}],"FullText":{"Text":{"Availability":"0"}},"Items":[{"Name":"Title","Label":"Title","Group":"Ti","Data":"Bananas
        : how the United Fruit Company shaped the world \/ Peter Chapman."},{"Name":"Language","Label":"Language","Group":"Lang","Data":"English"},{"Name":"Author","Label":"Authors","Group":"Au","Data":"&lt;searchLink
        fieldCode=&quot;AR&quot; term=&quot;%22Chapman%2C+Peter%22&quot;&gt;Chapman,
        Peter&lt;\/searchLink&gt;, 1948-"},{"Name":"PubInfo","Label":"Publication
        Information","Group":"PubInfo","Data":"Edinburgh ; New York : Canongate ;
        [Berkeley, Calif[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/ExportFormat?an=mit.001492509&dbid=cat00916a&format=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 5d1df7a0-1cd9-4ff0-8fdb-8c89081a25c5
      X-Sessionno:
      - '766386613'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"Format":"RIS","Label":"RIS Format","Data":"TY  - Book\u000d\u000aID  -
        mit.001492509\u000d\u000aAU  - Chapman, Peter\u000d\u000aT1  - Bananas : how
        the United Fruit Company shaped the world.\u000d\u000aY1  - 2007\/\/\/\u000d\u000aM3  -
        Bibliographies\u000d\u000aM3  - Non-fiction\u000d\u000aPB  - Edinburgh ; New
        York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers Group West,
        c2007.\u000d\u000aPB  - 1st American ed.\u000d\u000aAV  - Hayden Library -
 [...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CitationStyles?an=mit.001492509&dbid=cat00916a&styles=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Msg-Correlid:
      - f65e9bbc-cc79-468e-a59e-75fce8a2a1ef
    body:
      encoding: UTF-8
      string: '{"Citations":[{"Id":"abnt","Label":"ABNT","SectionLabel":"References","Data":"CHAPMAN,
        P. <b>Bananas : how the United Fruit Company shaped the world<\/b>. <i>[s.
        l.]<\/i>: Edinburgh ; New York : Canongate ; [Berkeley, Calif.?] : Distributed
        by Publishers Group West, c2007., 2007. ISBN 9781841958811. Disponível em:
        https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330.
        Acesso em: 16 jun. 2021.","Caption":"Brazilian National Standards"},{"Id":"ama","Label":"AMA
        11th Edition","SectionLabel":"Reference List","Data":"Chapman P. <i>Bananas :
        How the United Fruit Company Shaped the World<\/i>. Edinburgh ; New York :
        Canongate ; [Berkeley, Calif.?] : Distributed by Publishers Group West, c2007.;
        2007. Accessed June 16, 2021. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330","Caption":"American
        Medical Assoc."},{"Id":"apa","Label":"APA 7th Edition","SectionLabel":"References","Data":"Chapman,
        P. (2007). <i>Bananas : how the United Fruit Company shaped the world<\/i>.
        Edinburgh ; New York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers
        Group West, c2007. ","Caption":"American Psychological Assoc.","Indent":1},{"Id":"chicago","Label":"Chicago
        17th Edition","SectionLabel":"Reference List","Data":"Chapman, Peter. 2007.
        <i>Bananas : How the United Fruit Company Shaped the World<\/i>. Edinburgh ;
        New York : Canongate ; [Berkeley, Calif.?] : Distributed by Publishers Group
        West, c2007. https:\/\/search.ebscohost.com\/login.aspx?direct=true&site=eds-live&db=cat00916a&AN=mit.001492509&authtype=sso&custid=s8978330.","Caption":"Author-Date","Indent":1},{"Id":"harvard","Label"[...]
- request:
    method: get
    uri: https://mit.alma.exlibrisgroup.com/view/sru/01MIT_INST?operation=searchRetrieve&query=alma.all_for_ui=001492509MIT01&recordSchema=marcxml&version=1.2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <version>1.2</version>
          <numberOfRecords>1</numberOfRecords>
          <records>
            <record>
              <recordSchema>marcxml</recordSchema>
              <recordPacking>xml</recordPacking>
              <recordData>
                <record xmlns="http://www.loc.gov/MARC21/slim">
                  <leader>03348cam  2200541Ia 4500</leader>
                  <controlfield tag="001">990014925090206761</controlfield>
                  <controlfield tag="005">20210519003556.0</controlfield>
                  <controlfield tag="008">070728s2007    enkb     b    001 0 eng d</controlfield>
                  <datafield ind1=" " ind2=" " tag="020">
                    <subfield code="a">9781841958811 :</subfield>
                    <subfield code="c">$24.00</subfield>
                  </datafield>
                  <datafield ind1=" " ind2=" " tag="020">
                    <subfield code="a">1841958816 :</subfield>
                    <subfield code="c">$24.00</subfield>
                  </datafield>
                  <datafield ind1=" " ind2=" " tag="035">
                    <subfield code="a">(MCM)001492509MIT01</subfield>
                  </datafield>
        [...]
[...]
