---
http_interactions:
- request:
    method: post
    uri: FAKE_TACOS_URL
    body:
      encoding: UTF-8
      string: '{ "query": "{ logSearchEvent(searchTerm: \"INDSTAT\", sourceSystem:
        \"bento\" ) { phrase detectors { suggestedResources { title url } } } }" }'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd1a29537555c35b75e0b6ac193a2f7c"
    body:
      encoding: UTF-8
      string: '{"data":{"logSearchEvent":{"phrase":"INDSTAT","detectors":{"suggestedResources":[{"title":"UNIDO
        Statistics Data Portal (IDSB, INDSTAT4, INDSTAT2)","url":"https://libguides.mit.edu/unido-data"}]}}}}'
  recorded_at: Mon, 09 Sep 2024 19:23:49 GMT
recorded_with: VCR 6.2.0
