---
http_interactions:
- request:
    method: post
    uri: FAKE_TACOS_URL
    body:
      encoding: UTF-8
      string: '{ "query": "{ logSearchEvent(searchTerm: \"purple\", sourceSystem:
        \"bento\" ) { phrase detectors { suggestedResources { title url } } } }" }'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79b68062d4783f4644ce6d3e88987ca4"
    body:
      encoding: UTF-8
      string: '{"data":{"logSearchEvent":{"phrase":"purple","detectors":{"suggestedResources":[]}}}}'
  recorded_at: Mon, 09 Sep 2024 19:23:49 GMT
recorded_with: VCR 6.2.0
