---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Tue, 04 Apr 2017 15:05:24 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=apiwhatnot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 1a506fcc-353a-4c0a-896a-35eb0dda4cf9
      X-Sessionno:
      - '1874290137'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Tue, 04 Apr 2017 15:05:24 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&expander=fulltext&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music%20Scores,SourceType:Audio,SourceType:Videos&highlight=n&includefacets=n&pagenumber=4&query=turn%20of%20the%20screw&resultsperpage=1&searchmode=all&sort=relevance&view=detailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 5d232b42-d584-4d10-9c5a-ce4c12f7ab4c
      X-Sessionno:
      - '1874290137'
      X-Sessiontoken:
      - FakeSessiontoken
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,turn+of+the+screw&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Audiobooks,SourceType:Dissertations,SourceType:Music+Scores,SourceType:Audio,SourceType:Videos&expander=fulltext&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=detailed&resultsperpage=1&pagenumber=4&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"turn
        of the screw"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SourceType","Value":"Books"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Books)"},{"FacetValue":{"Id":"SourceType","Value":"eBooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:eBooks)"},{"FacetValue":{"Id":"SourceType","Value":"Audiobooks"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audiobooks)"},{"FacetValue":{"Id":"SourceType","Value":"Dissertations"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Dissertations)"},{"FacetValue":{"Id":"SourceType","Value":"Music
        Scores"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Music Scores)"},{"FacetValue":{"Id":"SourceType","Value":"Audio"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Audio)"},{"FacetValue":{"Id":"SourceType","Value":"Videos"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Videos)"}],"RemoveAction":"removefacetfilter(1)"}],"ExpandersWithAction":[{"Id":"fulltext","RemoveAction":"removeexpander(fulltext)"}]}},"SearchResult":{"Statistics":{"TotalHits":1470626,"TotalSearchTime":386,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":2},{"Id":"rih","Label":"RILM
        Abstracts of Music Literature (1967 to Present only)","Status":"0","Hits":55},{"Id":"agr","Label":"Agricola","Status":"0","Hits":0},{"Id":"lah","Label":"CAB
        Abstracts","Status":"0","Hits":0},{"Id":"egh","Label":"Environment Index","Status":"0","Hits":0},{"Id":"inh","Label":"Inspec","Status":"0","Hits":1},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":2},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":6},{"Id":"[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - d94ef2be-9a3c-428c-ac03-4101adcdf99d
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Tue, 04 Apr 2017 15:05:25 GMT
recorded_with: VCR 3.0.3
