---
http_interactions:
- request:
    method: post
    uri: https://eds-api.ebscohost.com/authservice/rest/UIDAuth
    body:
      encoding: UTF-8
      string: '{"UserId":"FAKE_EDS_USER_ID","Password":"FAKE_EDS_PASSWORD"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"AuthToken":"FakeAuthenticationtoken","AuthTimeout":"1800"}'
  recorded_at: Tue, 21 Jun 2016 19:35:01 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/CreateSession?guest=n&profile=FAKE_EDS_PROFILE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - f589e906-594c-4d8c-b59d-690434b9acc6
    body:
      encoding: UTF-8
      string: '{"SessionToken":"FakeSessiontoken"}'
  recorded_at: Tue, 21 Jun 2016 19:35:01 GMT
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&facetfilter=1,SourceType:Academic%20Journals&highlight=n&includefacets=n&pagenumber=1&query=popcorn&resultsperpage=3&searchmode=all&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sessiontoken:
      - FakeSessiontoken
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 892a4874-cb0f-4bd5-9b53-6f1ae00aaff7
    body:
      encoding: UTF-8
      string: '{"SearchRequestGet":{"QueryString":"query-1=AND,popcorn&facetfilter=1,SourceType:Academic+Journals&sort=relevance&includefacets=n&searchmode=all&autosuggest=n&view=brief&resultsperpage=3&pagenumber=1&highlight=n","SearchCriteriaWithActions":{"QueriesWithAction":[{"Query":{"BooleanOperator":"AND","Term":"popcorn"},"RemoveAction":"removequery(1)"}],"FacetFiltersWithAction":[{"FilterId":1,"FacetValuesWithAction":[{"FacetValue":{"Id":"SourceType","Value":"Academic
        Journals"},"RemoveAction":"removefacetfiltervalue(1,SourceType:Academic Journals)"}],"RemoveAction":"removefacetfilter(1)"}]}},"SearchResult":{"Statistics":{"TotalHits":2746,"TotalSearchTime":294,"Databases":[{"Id":"eric","Label":"ERIC","Status":"0","Hits":34},{"Id":"edsjsr","Label":"JSTOR
        Journals","Status":"0","Hits":52},{"Id":"egh","Label":"Environment Index","Status":"0","Hits":144},{"Id":"ecn","Label":"EconLit","Status":"0","Hits":6},{"Id":"cmedm","Label":"MEDLINE","Status":"0","Hits":456},{"Id":"ufh","Label":"Communication
        & Mass Media Complete","Status":"0","Hits":12},{"Id":"fyh","Label":"Women''s
        Studies International","Status":"0","Hits":4},{"Id":"bth","Label":"Business
        Source Complete","Status":"0","Hits":[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/Search?autosuggest=n&facetfilter=1,SourceType:Books,SourceType:eBooks,SourceType:Music%20Scores&highlight=n&includefacets=n&pagenumber=1&query=popcorn&resultsperpage=3&searchmode=all&sort=relevance&view=brief
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
[...]
- request:
    method: get
    uri: https://eds-api.ebscohost.com/edsapi/rest/endsession?sessiontoken=FakeSessiontoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Sessiontoken:
      - FakeSessiontoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authenticationtoken:
      - FakeAuthenticationtoken
      X-Msg-Correlid:
      - 30873da2-a3a1-4933-8d1f-7900afb23e55
    body:
      encoding: UTF-8
      string: '{"IsSuccessful":"y"}'
  recorded_at: Tue, 21 Jun 2016 19:35:02 GMT
recorded_with: VCR 3.0.3
