---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/worldcat/sru?maximumRecords=3&query=srw.kw%20any%20%22asdfqeukaldk%22%20and%20srw.li%20any%20%22MYG%22&recordSchema=info:srw/schema/1/dc&wskey=FAKE_WORLDCAT_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>0</numberOfRecords>
        <echoedSearchRetrieveRequest xmlns:srw="http://www.loc.gov/zing/srw/">
        <version>1.1</version>
        <query>srw.kw any "asdfqeukaldk" and srw.li any "MYG"</query>
        <maximumRecords>3</maximumRecords>
        <recordSchema>info:srw/schema/1/dc</recordSchema>
        <recordPacking>xml</recordPacking>
        <startRecord>1</startRecord>
        <sortKeys>relevance</sortKeys>
        <wskey>FAKE_WORLDCAT_KEY</wskey>
        </echoedSearchRetrieveRequest>
        </searchRetrieveResponse>
  recorded_at: Thu, 13 Oct 2016 14:49:50 GMT
recorded_with: VCR 3.0.3
