---
http_interactions:
- request:
    method: get
    uri: http://www.worldcat.org/webservices/catalog/search/worldcat/sru?count=3&query=srw.kw%20any%20%22popcorn%22%20and%20srw.li%20any%20%22MYG%22&wskey=FAKE_WORLDCAT_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <?xml-stylesheet type='text/xsl' href='/webservices/catalog/xsl/searchRetrieveResponse.xsl'?>

        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/" xmlns:oclcterms="http://purl.org/oclc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <version>1.1</version>
        <numberOfRecords>82</numberOfRecords>
        <records>
        <record>
        <recordSchema>marcxml</recordSchema>
        <recordPacking>xml</recordPacking>
        <recordData>
        <record xmlns="http://www.loc.gov/MARC21/slim">
            <leader>00000cam a2200000Ii 4500</leader>
            <controlfield tag="001">1508955</controlfield>
            <controlfield tag="008">750804s1974    nyua     b    001 0 eng d</controlfield>
            <datafield ind1=" " ind2=" " tag="010">
              <subfield code="a">   73078740 </subfield>
            </datafield>
            <datafield ind1=" " ind2=" " tag="020">
              <subfield code="a">0380001772</subfield>
            </datafield>
            <datafield ind1=" " ind2=" " tag="020">
              <subfield code="a">9780380001774</subfield>
            </datafield>
            <datafield ind1="1" ind2=" " tag="100">
              <subfield code="a">Rosen, Marjorie.</subfield>
            </datafield>
            <datafield ind1="1" ind2=[...]
