---
http_interactions:
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&num=3&q=endnote
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "customsearch#search",
          "url": {
            "type": "application/json",
            "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
          },
          "queries": {
            "request": [
              {
                "title": "Google Custom Search - endnote",
                "totalResults": "232",
                "searchTerms": "endnote",
                "count": 3,
                "startIndex": 1,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
              }
            ],
            "nextPage": [
              {
                "title": "Google Custom Search - endnote",
                "totalResults": "232",
                "searchTerms": "endnote",
                "count": 3,
                "startIndex": 4,
                "inputEncoding": "utf8",
                "outputEncoding": "utf8",
                "safe": "off",
                "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
              }
            ]
          },
          "context": {
            "title": "MIT Libraries Search 2"
          },
          "searchInformation": {
            "searchTime": 0.223421,
            "formattedSearchTime": "0.22",
            "totalResults": "232",
            "formattedTotalResults": "232"
          },
          "items": [
            {
              "kind": "customsearch#result",
              "title": "EndNote - Citation Management and Writing Tools - LibGuides at ...",
              "htmlTitle": "\u003cb\u003eEndNote\u003c/b\u003e - Citation Management and Writing Tools - LibGuides at ...",
              "link": "https://libguides.mit.edu/endnote",
              "displayLink": "libguides.mit.edu",
              "snippet": "May 26, 2020 ... Citation Management and Writing Tools: EndNote. A guide describing software to \nhelp with citation management, writing, and other parts of the ...",
              "htmlSnippet": "May 26, 2020 \u003cb\u003e...\u003c/b\u003e Citation Management and Writing Tools: \u003cb\u003eEndNote\u003c/b\u003e. A guide describing software to \u003cbr\u003e\nhelp with citation management, writing, and other parts of the&nbsp;...",
              "formattedUrl": "https://libguides.mit.edu/endnote",
              "htmlFormattedUrl": "https://libguides.mit.edu/\u003cb\u003eendnote\u003c/b\u003e",
              "pagemap": {
                "metatags": [
                  {
                    "msapplication-tilecolor": "#ffc40d",
                    "msapplication-config": "//libapps.s3.amazonaws.com/apps/common/favicon/browserconfig.xml",
                    "theme-color": "#ffffff",
                    "dc.description": "A guide describing software to help with citation management, writing, and other parts of the research process.",
                    "og:type": "website",
                    "twitter:card": "summary_large_image",
                    "og:title": "LibGuides: Citation Management and Writing Tools: EndNote",
                    "dc.rights": "Copyright MIT Libraries 2020",
                    "dc.date.created": "Jul 7, 2017",
                    "og:description": "A guide describing software to help with citation management, writing, and other parts of the research process.",
                    "dc.publishers": "MIT Libraries",
                    "twitter:site": "@springshare",
                    "viewport": "width=device-width, initial-scale=1.0",
                    "dc.creator": "Jennie Murack",
                    "dc.title": "LibGuides: Citation Management and Writing Tools: EndNote",
                    "dc.date.modified": "May 26, 2020",
                    "dc.identifier": "https://libguides.mit.edu/cite-write/endnote",
                    "dc.language": "en",
                    "og:url": "https://libguides.mit.edu/cite-write/endnote"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "EndNote Basics | MIT Libraries News",
              "htmlTitle": "\u003cb\u003eEndNote\u003c/b\u003e Basics | MIT Libraries News",
              "link": "https://libraries.mit.edu/news/endnote-basics-3/22488/",
              "displayLink": "libraries.mit.edu",
              "snippet": "Jun 20, 2016 ... EndNote is a “personal bibliographic software” package which allows you to \ncreate and manage a database of bibliographic references.",
              "htmlSnippet": "Jun 20, 2016 \u003cb\u003e...\u003c/b\u003e \u003cb\u003eEndNote\u003c/b\u003e is a “personal bibliographic software” package which allows you to \u003cbr\u003e\ncreate and manage a database of bibliographic references.",
              "cacheId": "ly_ZStuw8U4J",
              "formattedUrl": "https://libraries.mit.edu/news/endnote-basics-3/22488/",
              "htmlFormattedUrl": "https://libraries.mit.edu/news/\u003cb\u003eendnote\u003c/b\u003e-basics-3/22488/",
              "pagemap": {
                "cse_thumbnail": [
                  {
                    "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkXaR6jVz77Vb6noRmOuewJuygkt-tALLEDjxAqGMzMt7QsUl-ae6vmg9J",
                    "width": "225",
                    "height": "225"
                  }
                ],
                "metatags": [
                  {
                    "og:image": "https://libraries.mit.edu/news/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png",
                    "og:image:width": "1200",
                    "og:image:alt": "MIT Libraries logo",
                    "viewport": "width=device-width, initial-scale=1.0",
                    "og:title": "MIT Libraries",
                    "og:image:height": "1200",
                    "og:image:type": "image/png",
                    "og:url": "//libraries.mit.edu"
                  }
                ],
                "cse_image": [
                  {
                    "src": "https://libraries.mit.edu/news/wp-content/themes/libraries/images/mit-libraries-logo-black-yellow-1200-1200.png"
                  }
                ]
              }
            },
            {
              "kind": "customsearch#result",
              "title": "Join us for EndNote training: Monday, 3/10 | MIT Libraries News",
              "htmlTitle": "Join us for \u003cb\u003eEndNote\u003c/b\u003e training: Monday, 3/10 | MIT Libraries News[...]
