---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=FAKE_GOOGLE_CUSTOM_SEARCH_ID&key=FAKE_GOOGLE_API_KEY&q=endnote
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/VSselOeIGUNfFmgyMMg-vIaD-Xs"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - endnote",
            "totalResults": "1640",
            "searchTerms": "endnote",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - endnote",
            "totalResults": "1640",
            "searchTerms": "endnote",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "FAKE_GOOGLE_CUSTOM_SEARCH_ID"
           }
          ]
         },
         "context": {
          "title": "mitlib_test"
         },
         "searchInformation": {
          "searchTime": 0.474704,
          "formattedSearchTime": "0.47",
          "totalResults": "1640",
          "formattedTotalResults": "1,640"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "EndNote with LaTeX & BibTeX - EndNote at MIT - LibGuides at MIT ...",
           "htmlTitle": "\u003cb\u003eEndNote\u003c/b\u003e with LaTeX &amp; BibTeX - \u003cb\u003eEndNote\u003c/b\u003e at MIT - LibGuides at MIT ...",
           "link": "http://libguides.mit.edu/c.php?g=176170&p=1158648",
           "displayLink": "libguides.mit.edu",
           "snippet": "Jul 28, 2016 ... Using EndNote with LaTeX and BibTeX FAQ ... Open EndNote, and open the \nlibrary of references that you would like to export to BibTeX. In the ...",
           "htmlSnippet": "Jul 28, 2016 \u003cb\u003e...\u003c/b\u003e Using \u003cb\u003eEndNote\u003c/b\u003e with LaTeX and BibTeX FAQ ... Open \u003cb\u003eEndNote\u003c/b\u003e, and open the \u003cbr\u003e\nlibrary of references that you would like to export to BibTeX. In the&nbsp;...",
           "formattedUrl": "libguides.mit.edu/c.php?g=176170&p=1158648",
           "htmlFormattedUrl": "libguides.mit.edu/c.php?g=176170&amp;p=1158648",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "dc.title": "LibGuides: EndNote at MIT: EndNote with LaTeX & BibTeX",
              "dc.creator": "Christine Malinowski",
              "dc.publishers": "MIT Libraries",
              "dc.rights": "Copyright MIT Libraries 2016",
              "dc.language": "en",
              "dc.identifier": "http://libguides.mit.edu/c.php?g=176170&p=1158648",
              "dc.date.created": "Jul 22, 2011",
              "dc.date.modified": "Jul 28, 2016",
              "og:title": "LibGuides: EndNote at MIT: EndNote with LaTeX & BibTeX",
              "og:type": "website",
              "og:url": "http://libguides.mit.edu/c.php?g=176170&p=1158648",
              "twitter:card": "summary_large_image",
              "twitter:site": "@springshare"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "EndNote with Barton - EndNote at MIT - LibGuides at MIT Li[...]
