<div class="inline-action well signin-fulltext">
  <p class="message">Full text available</p>
  <div class="actions">
    <a class="button button-secondary" href="<%= login_url %>">Sign in for access</a>
  </div>
</div>
