<%# Make sure to set an @sfx_link value if using this partial! %>
<% unless @sfx_link.include?('This+title+is+unavailable+for+guests') %>
  <a class="button button-secondary" href="<%= @sfx_link %>">Check for online copy</a>
<% end %>
