<div class="bit">
  <h3 class="title">Related</h3>
  <ul>
    <% if local_record? %>
      <li>
        <%= link_to('Source record', local_record_source_url) %>
      </li>
    <% end %>
    <li>
      <%= link_to('View in BartonPlus', eds_link) %>
    </li>
  </ul>
</div>

<div class="bit askus">
  <h3 class="title">Ask Us</h3>
  <p>Not finding what you're looking for?  We're here to help with anything from quick questions to in-depth research.</p>
  <p><a class="btn button-secondary" href="https://libraries.mit.edu/ask/">Ask Us</a></p>
</div>

<div class="bit feedback">
  <h3 class="title">Help us improve</h3>
  <p>Let us know what you think about the new search.</p>
  <p><a class="btn button-subtle" href="/feedback">Send feedback</a></p>
</div>
