<div class="bit">
  <h3 class="title">Tools and related</h4>

  <ul>
    <li>Export to Mendeley</li>
    <li>Export to Zotero</li>
    <li>Permalink</li>

    <% if local_record? %>
      <%= link_to('Source Record', local_record_source_url) %>
    <% else %>
      View in BartonPlus
    <% end %>
  </ul>
</div>
