<h4>Sidebar</h4>

<ul>
  <li>Advanced Search</li>
  <li>Save to...</li>

  <% if local_record? %>
    <%= link_to('Source Record', local_record_source_url) %>
  <% else %>
    Link to EDS UI Full record
  <% end %>
</ul>
