<h2 class="title title-page">The requested record was not found.</h2>

<p><%= link_to('Starting over', root_path) %> may help. If it does not, please <%= link_to('let us know', 'https://libraries.mit.edu/ask/') %>!</p>
