<h4 class="sr">Library locations: </h4>

<%# this conditionally opens two divs that are conditional closed below %>
<% if @status.count > 10 %>
<div class="expand-collapse-wrap is-collapsed" data-xheight="800">
  <p class="expand-collapse-control"><button class="button">Show more</button></p>
  <div class="expand-container">
<% end %>

    <%= render partial: "list_local_locations" %>

<%# this conditionally closes two divs that are conditional open above %>
<% if @status.count > 10 %>
  </div>
</div>
<script>Toggler();</script>
<% end %>

<% if @status.count > 1 %>
  <script>$(".availability-sort-info").removeClass("is-hidden");</script>
<% end %>
