<p class="sr">Library locations: </p>
<ul class="list-local-locations">
<% @status.each do |s| %>
  <li class="result-local-location">
    <%= s[:library] %> <%= s[:collection] %>: <%= s[:call_number] %> (<%= s[:status] %>)
  </li>
<% end %>
</ul>
