<h2 class="title title-page">An error occurred accessing the detail page you requested.</h2>

<p>You may be able to access similar information this <%= link_to('alternative interface', @eds_error_link) %>.
  If not, please <%= link_to('let us know', feedback_path) %>. Sorry for the inconvenience this has caused.</p>
