<h2 class="title title-page">An error occurred accessing this record</h2>

<p>We’re experiencing temporary system issues. You may be able to access the record you’re looking for directly in the <%= link_to('BartonPlus interface', @eds_error_link) %>. If not, please <%= link_to('let us know', 'https://libraries.mit.edu/ask/') %>. Sorry for the inconvenience this has caused.</p>
