<h2 class="title title-page">Oops! I'm a teapot!</h2>

<p>Using a French press may help. If it does not, please <%= link_to('consult campus dining options', 'https://studentlife.mit.edu/dining') %>.</p>
