// ------------------------------
// #REAL-TIME STATUS (from Aleph)
// ------------------------------

.fa-check {
  color: $success;
}

.fa-times {
  margin-left: .2rem;
  margin-right: .1rem;
 color: $error;
}
