// ------------------------------
// #FORMS AND FEEDBACK
// ------------------------------

/* general bento feedback form */
.bento-feedback {

	.field-text {
	  width: 80%;
	}

	.bento-field-textarea {
	  width: 80%;
	  height: 10em;
	}
}

label.error {
  color: $error;
}

