
// full record

.wrap-full-record {
  margin-top: 3rem;
}

.full-record {
  margin-bottom: 2rem;

  @media (min-width: $bp-screen-sm) {
    margin-bottom: 0;
  }

  .discovery-full-record-basic-info, 
  .discovery-full-record-availability, 
  .discovery-full-record-more-info {
    @include clearfix;
    margin-bottom: 2rem;
  }

  .section-title {
    @extend .subtitle3;
    margin-top: 3rem;
    font-weight: $fw-bold;
  }

  .section-content {
    margin-bottom: 2rem;
  }

  // Basic info section
  .record-image {
    float: right;
    max-width: 150px;
    margin-left: 3%;
    border: 1px solid #ccc;
  }

  .record-title {
    @extend .hd-3;
    font-weight: $fw-bold;
    margin-bottom: .2em;
  }

  .record-author:after {
    content: ';';
    color: $gray-l1;
  }

  .record-author:last-child:after {
    content: '';
  }

  .record-type {
    margin-bottom: .5em;
    font-size: $fs-small;
    color: $gray;
  }

  .record-year {
    margin-bottom: .5em;
    font-size: $fs-small;
    color: $gray;

    &:before {
      content: " | ";
      color: $gray-l2;
    }
   }


  // Availability section

  .signin-guest {
    @extend .alert;
    @extend .alert-banner;
    @extend .inline-action;
    @extend .alert-banner;
    margin: -3.1rem -3.1rem 2rem -3.1rem;
  }

  // More info section

  .list-moreinfo {
    @extend .list-unbulleted;

    .label {
      display: inline;
      font-weight: 400;
      color: $gray-l1;
    }
  }

  .list-subjects,
  .list-keywords {
    @extend .list-unbulleted;
  }
}

.sidebar .askus .btn {
  display: block;
  text-align: center;
}
