
.hint-box {
  position: relative;
  margin: 1.5% 0;
  box-shadow: 0px 1px 3px $shadow;
  border-top: 3px solid $blue-bright;
  padding: 1.5%;
  background-color: rgba($blue, .2);

  .type {
    margin-bottom: .5rem;
    color: $gray;
    font-size: $fs-xsmall;
  }

  .title {
    margin-bottom: .2em;
    margin-right: 10rem;
    font-size: $fs-small;
    font-weight: $fw-bold;
  }

  .desc {
    margin-bottom: 0;
    font-size: $fs-small;
  }

  a {
    color: darken($blue-muted, 10%);
  }
}
