
.hint-box {
  position: relative;
  margin: 1.5% 0;
  box-shadow: 0px 1px 3px rgba($blue, .5);
  border-top: 3px solid $blue;
  background-color: $white-t;
  padding: 1.5%;

  .type {
    margin-bottom: .5rem;
    color: $gray;
    font-size: $fs-xsmall;
  }

  .title {
    margin-bottom: .2em;
    margin-right: 10rem;
    font-size: $fs-small;
    font-weight: $fw-bold;
  }

  .desc {
    margin-bottom: 0;
    font-size: $fs-small;
  }
}
