/* Note that this CSS is intended to be used in conjunction with the MIT Libraries 
design system: https://github.com/MITLibraries/mitlib-style */

#privacy-notice {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
