.nps-feedback {
    margin-top: 1em;
    background-color: #333;
    color: #fff;
    text-align: center;

    a {
      color: #00C8FF
    }

    a:hover {
      color: #00C800
    }

    a:active {
      color: #FF00FF
    }
}
