// Place all the styles related to the aleph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-check {
  color: green;
}

.fa-times {
 color: red;
}
