/* Bento-specific styles */

/* variables from mitlib style */

// ----------------------------
// #GRID
// ----------------------------

// grid - breakpoints
$bp-screen-sm:                  480px;
$bp-screen-md:                  768px;
$bp-screen-lg:                  1024px;
$bp-screen-xl:                  1280px;


// ----------------------------
// #COLORS
// ----------------------------

// colors - grayscale
$black:                         #111;
$black-t:                       #000; // true black
$white:                         #fafafa;
$white-warm:                    #ede8e2;
$white-t:                       #fff; // true white
$gray:                          #595959;
$gray-d1:                       #333;
$gray-d2:                       #222;
$gray-l1:                       #999;
$gray-l2:                       #ccc;
$gray-l3:                       #dedede;
$gray-l4:                       #f3f3f3;
$gray-warm:                     #c6b6a3;
$transparent:                   rgba(0, 0, 0, 0);
$shadow:                        rgba($black-t, .5);
$glare:                         rgba($white-t, .3);
$smoke:                         rgba($gray, .3);

// moth colors - named
$magenta:                       #9c3273;
$yellow:                        #ffcc33;
$orange:                        #f58632;
$barf:                          #cca329;
$green:                         #43926a;
$blue:                          #338bc5;
$blue-bright:                   #0088D0;
$blue-muted:                    #21759B;

// colors - brand
$brand-primary:                 $blue;
$brand-primary-accent:          rgb(14, 166, 236);
$brand-secondary:               $gray-d1;
$brand-secondary-accent:        rgb(242, 108, 170);

// colors - utilities
$success:                       $green;
$warning:                       mix($yellow,$orange,50%);
$error:                         #AC1D22;
$informational:                 mix($gray-warm,$black,55%);


// ----------------------------
// #TYPOGRAPHY
// ----------------------------

$base-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$alt-fonts: 'Georgia', Cambria, 'Times New Roman', Times, serif;

// font-sizes and line-heights
$fs-xxxsmall: .9rem;
$fs-xxsmall: 1rem;
$fs-xsmall: 1.2rem;
$fs-smallish: 1.3rem;
$fs-small: 1.4rem;
$fs-base: 1.6rem;
$fs-large: 1.8rem;
$fs-xlarge: 2rem;
$fs-xxlarge: 2.4rem;
$fs-xxxlarge: 3rem;
$fs-xxxxlarge: 3.2rem;

$fw-bold: 600;
$fw-normal: 400;
$fw-light: 300;

$lh-xtight: 1;
$lh-tight: 1.3;
$lh-base: 1.5;
$lh-loose: 1.7;
$lh-xloose: 2;


// ----------------------------
// #DEPTH
// ----------------------------

$z-depth-way-back:      -1000;
$z-depth-back:           -100;
$z-depth-lil-back:       -10;
$z-depth-base:           1;
$z-depth-lil-front:      10;
$z-depth-front:          100;
$z-depth-way-front:     1000;


// ----------------------------
// #UTILITIES from mitlib style
// ----------------------------

.list-unbulleted {
  list-style: none;
  padding-left: 0;
  text-indent: 0;
}

// ----------------------------
// #BENTO-SPECIFIC - BEGIN
// ----------------------------

.wrap-outer-header-local {
  display: none;
}

.wrap-content {
  padding-top: 1rem;
}

/* search bar */
.b-search {
  margin-bottom: .5rem;

  .field-label {
    display: block;
    margin-bottom: .5rem;
    font-size: $fs-small;
    font-weight: $fw-normal;
    color: $gray;
  }

  .b-search-input {
    display: inline-block;
    width: 80%;
    border: 1px solid $gray-l2;
    border-radius: 2px;
    padding: 6px 12px;
  }

  .b-search-submit {
    display: inline-block;
    width: 18%;
  }
}

/* search summary bar */
.results-summary {
  font-size: $fs-small;

  .search-summary {
    display: block;
    margin-bottom: .3rem;
    font-size: $fs-xsmall;
    color: $gray;
  }

  .title {
    display: inline-block;
  }

  .results-summary-item {
    display: block;
    margin: 0 1rem;

    @media (min-width: $bp-screen-sm) {
      display: inline-block;
    }

    .count {
    }

    .count:before {
      content: '(';
    }

    .count:after {
      content: ')';
    }
  }
}



/* big boxes */
.wrap-results {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .results-desc {
    font-size: $fs-smallish;
    color: $gray;
  }
}

.results-more {
  margin-top: 1rem;
  font-size: $fs-smallish;
}

/* generic result pattern */
.wrap-result {
  transition: all .25s ease-in-out 0s;
  border-bottom: 1px solid $gray-l3;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
  padding: 2rem 1rem 1rem 1rem;

  &:first-child {
    border-top: 1px solid $gray-l3;
  }

  &:hover, 
  &:focus {
    border-right: 1px solid $gray-l3;
    border-left: 1px solid $gray-l3;
    background-color: $white-t;
  }


  .result-type {
    margin-bottom: 0;
    font-size: $fs-xsmall; 
    color: $gray;
  }

  .result-image {
    float: right;
    max-width: 150px;
    margin-left: 3%;
    border: 1px solid #ccc;
  }

  .result-title {
    margin-bottom: .2em;

    a {
      color: #333;

      &:hover,
      &:focus {
        color: #338bc5;
      }
    }
  }

  .result-author:after {
    content: ';';
    color: $gray-l1;
  }

  .result-author:last-child:after {
    content: '';
  }

  .result-blurb {
     font-size: $fs-xsmall;
     color: $gray;
   }

  .result-pubinfo {
    font-size: $fs-xsmall;
    color: $gray;
  }

  .result-year {
     color: $gray;
   }

  .list-subjects {
    @extend .list-unbulleted;
  }

  .result-subjectheading {
    margin: 0;
    font-size: $fs-xsmall;
  }


  .list-local-locations {
    @extend .list-unbulleted;
    margin-bottom: 0;
  }

  .result-local-location {
    color: $gray;
    font-size: $fs-smallish;
  }

  .result-get {
    text-align: right;
    font-size: 1.4rem;
  }
}

/* specific format overrides */
.articles_content {

  .wrap-result {

    .result-title {
      font-size: $fs-large;
    }

    .result-authors {
      font-size: $fs-smallish;
    }
  }
}

.website_content {
  .wrap-result {
    padding: 1rem .5rem .5rem .5rem;

    .result-title {
      font-size: $fs-large;
    }

    .result-authors {
      font-size: $fs-smallish;
    }

    .result-get {
      display: none;
    }
  }
}

/* other bits */
.wrap-help {
  .title {
    font-size: $fs-base;
    font-weight: 600;
    color: $gray-d1;
  }
  
  .list-tools {
    @extend .list-unbulleted;
    font-size: $fs-small;
  }
}

.wrap-chat {
  border: 1px solid $gray-l3;
  background-color: $white-t;
  padding: 1.5rem 3rem 1rem 3rem;
  font-size: $fs-smallish;
  color: $gray;

  .title {
    font-size: $fs-large;
    color: $gray-d1;
    margin-bottom: .2em;
  }
}

.about-bento {
  margin: 4rem 0;
}
