// Place all the styles related to the feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bento-field-email {
  width: 80%;
  padding: 6px 12px;
}

.bento-field-textarea {
  padding: 6px 12px;
  width: 80%;
  height: 10em;
}

.bento-field-textarea.error, .bento-field-textarea.error:focus {
  border: 1px solid red;
}

label.error {
  color: red;
}
