h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
}

p,
ol,
ul,
dl {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.sr {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.wrap-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: 0;
}
.list-inline li,
.list-inline dt,
.list-inline dd {
  margin: 0;
  padding: 0;
}

.list-unbulleted, .bit ul {
  list-style: none;
  padding-left: 0;
  text-indent: 0;
}

.list-inline li,
.list-inline dt,
.list-inline dd {
  display: inline-block;
}

.list-inline-pipe, .wrap-footer .wrap-usergroups, .wrap-footer.footer-slim .sitemap-libraries-abbrev a, .wrap-outer-footer-institute .about-mit {
  padding-left: 0;
}
.list-inline-pipe li, .wrap-footer .wrap-usergroups li, .wrap-footer.footer-slim .sitemap-libraries-abbrev a li, .wrap-outer-footer-institute .about-mit li,
.list-inline-pipe .item,
.wrap-footer .wrap-usergroups .item,
.wrap-footer.footer-slim .sitemap-libraries-abbrev a .item,
.wrap-outer-footer-institute .about-mit .item {
  display: inline-block;
  padding-right: 1rem;
}
.list-inline-pipe li:after, .wrap-footer .wrap-usergroups li:after, .wrap-footer.footer-slim .sitemap-libraries-abbrev a li:after, .wrap-outer-footer-institute .about-mit li:after,
.list-inline-pipe .item:after,
.wrap-footer .wrap-usergroups .item:after,
.wrap-footer.footer-slim .sitemap-libraries-abbrev a .item:after,
.wrap-outer-footer-institute .about-mit .item:after {
  content: ' | ';
  margin-left: 1rem;
}
.list-inline-pipe li:last-child:after, .wrap-footer .wrap-usergroups li:last-child:after, .wrap-footer.footer-slim .sitemap-libraries-abbrev a li:last-child:after, .wrap-outer-footer-institute .about-mit li:last-child:after,
.list-inline-pipe .item:last-child:after,
.wrap-footer .wrap-usergroups .item:last-child:after,
.wrap-footer.footer-slim .sitemap-libraries-abbrev a .item:last-child:after,
.wrap-outer-footer-institute .about-mit .item:last-child:after {
  content: '';
}

.is-hidden {
  display: none;
}

a, .wrap-footer a, .wrap-outer-footer-institute a {
  transition: color .25s ease-in-out 0s;
  color: #338bc5;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #0ea6ec;
  text-decoration: underline;
}
a:disabled, .is-disabled {
  display: none;
  color: #595959;
}
a:active, .is-pressed, .is-active {
  color: #0ea6ec;
}

/* csslint ignore:start */
* {
  box-sizing: border-box;
}
/* csslint ignore:end */

html, body {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: #595959;
  color: #fafafa;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ol,
ul {
  padding-left: 2.5rem;
}

li > ul,
li > ol {
  margin-top: .5rem;
}

dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #999;
}

.hd-1, .wrap-content h1,
.wrap-content .hd-1 {
  margin-bottom: .5em;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 600;
}

.hd-2, .wrap-content h2,
.wrap-content .hd-2, .wrap-outer-header-local .title-site {
  margin-bottom: .5em;
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 600;
}

.hd-3, .wrap-content h3,
.wrap-content .hd-3 {
  margin-bottom: .5em;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}

.hd-4, .wrap-content h4,
.wrap-content .hd-4 {
  margin-bottom: .5em;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 600;
}

.hd-5, .wrap-content h5,
.wrap-content .hd-5, .bit .title {
  margin-bottom: .5em;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 600;
}

.hd-6, .wrap-content h6,
.wrap-content .hd-6, .wrap-footer .title {
  margin-bottom: .5em;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 600;
}

.hd-subtitle1, .wrap-content .subtitle {
  margin-bottom: .5em;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.hd-subtitle2, .wrap-content .subtitle2 {
  margin-bottom: .5em;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #999;
}

.hd-subtitle3, .wrap-content .subtitle3 {
  margin-bottom: .5em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
}

.copy-lead {
  font-size: 2rem;
}

.copy-base {
  font-size: 1.6rem;
}

.copy-sup {
  font-size: 1.2rem;
  color: #595959;
}

.copy-micro {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
}

.layout-band:after {
  content: '';
  display: table;
  clear: both;
}

.wrap-gridband,
.wrap-notice,
.wrap-header,
.wrap-header-local,
.wrap-breadcrumb,
.wrap-content,
.wrap-footer,
.wrap-footer-institute {
  max-width: 114rem;
  margin: 0 auto;
  padding: 10px 4%;
}
.wrap-gridband:after,
.wrap-notice:after,
.wrap-header:after,
.wrap-header-local:after,
.wrap-breadcrumb:after,
.wrap-content:after,
.wrap-footer:after,
.wrap-footer-institute:after {
  content: '';
  display: table;
  clear: both;
}

.gridband:after {
  content: '';
  display: table;
  clear: both;
}
.gridband .grid-item {
  width: auto;
  float: none;
}
@media (min-width: 768px) {
  .gridband.layout-2c .grid-item {
    float: left;
    width: 48%;
    margin-right: 3%;
  }
  .gridband.layout-2c .grid-item:nth-child(2n+0) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .gridband.layout-3c .grid-item {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
  .gridband.layout-3c .grid-item:nth-child(3n+3) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .gridband.layout-4c .grid-item {
    float: left;
    width: 23%;
    margin-right: 2%;
  }
  .gridband.layout-4c .grid-item:nth-child(4n+4) {
    float: right;
    margin-right: 0;
  }
}

.wrap-header .header-slim .logo-mit-lib svg {
  height: 35px;
}

.wrap-header-core,
.wrap-header-supp {
  display: inline-block;
  vertical-align: bottom;
}

.wrap-header-core {
  width: 65%;
}

.wrap-header-supp {
  width: 33%;
}
.wrap-header-supp .link-logo-mit {
  float: right;
}

.wrap-header-local .wrap-local-nav {
  margin-top: 8px;
}
.wrap-header-local .wrap-local-nav a {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.4rem;
}

.wrap-outer-content {
  background-color: #f3f3f3;
  color: #111;
}

.wrap-content {
  padding-top: 3rem;
  padding-bottom: 2%;
}
.wrap-content .content-main {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .layout-3q1q .col3q {
    float: left;
    width: 73%;
  }
  .layout-3q1q .col1q-r {
    float: right;
    width: 22%;
    margin-left: 3%;
  }
}

@media (min-width: 768px) {
  .layout-1q3q .col1q {
    float: left;
    width: 22%;
    margin-right: 3%;
  }
  .layout-1q3q .col3q {
    float: right;
    width: 73%;
  }
}

@media (min-width: 768px) {
  .layout-1q2q1q .col1q {
    float: left;
    width: 22%;
    margin-right: 3%;
  }
  .layout-1q2q1q .content-main {
    float: left;
    width: 48%;
    margin-right: 3%;
  }
  .layout-1q2q1q .col1q-r {
    float: right;
    width: 22%;
  }
}

@media (min-width: 768px) {
  .layout-1t2t {
    display: -ms-flexbox;
    display: flex;
  }
  .layout-1t2t .col1t {
    float: left;
    width: 33%;
    margin-right: 3%;
  }
  .layout-1t2t .col2t {
    float: right;
    width: 63%;
  }
}

@media (min-width: 768px) {
  .layout-2t1t {
    display: -ms-flexbox;
    display: flex;
  }
  .layout-2t1t .col2t {
    float: left;
    width: 63%;
    margin-right: 3%;
  }
  .layout-2t1t .col1t {
    float: right;
    width: 33%;
  }
}

.wrap-footer {
  padding: 3.5rem 4%;
}
.wrap-footer .wrap-sitemap .menu-sub {
  display: none;
}
.wrap-footer .identity {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.wrap-footer .wrap-logo-lib {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 20px 20px 0;
}
.wrap-footer .wrap-social {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 20px;
}
.wrap-footer .wrap-usergroups {
  width: 100%;
  border-top: 1px solid #595959;
  padding-top: 2rem;
}
.wrap-footer .wrap-usergroups span {
  display: inline-block;
  margin: 1rem 1.5rem 1rem 0;
}
.wrap-footer .wrap-usergroups span:after {
  content: '';
}
.wrap-footer .wrap-social .text-find-us {
  display: none;
}
@media (min-width: 768px) {
  .wrap-footer .wrap-sitemap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .wrap-footer .wrap-sitemap .col {
    margin-right: 3%;
  }
  .wrap-footer .wrap-sitemap .col:last-child {
    margin-right: 0;
  }
  .wrap-footer .wrap-sitemap .menu-sub {
    display: block;
  }
  .wrap-footer .identity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 4% 0 0 0;
  }
  .wrap-footer .wrap-logo-lib,
  .wrap-footer .wrap-usergroups,
  .wrap-footer .wrap-social {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 0;
    margin-bottom: 0;
  }
  .wrap-footer .wrap-logo-lib {
    -ms-flex-order: 1;
        order: 1;
    margin-right: 4%;
  }
  .wrap-footer .wrap-usergroups {
    -ms-flex-order: 3;
        order: 3;
    width: 100%;
    margin: 1rem 4% 0 0;
    border-top: none;
  }
  .wrap-footer .wrap-usergroups span {
    margin-top: 0;
    margin-bottom: 0;
  }
  .wrap-footer .wrap-social {
    -ms-flex-order: 2;
        order: 2;
    margin-left: 4%;
  }
}
@media (min-width: 1024px) {
  .wrap-footer .wrap-usergroups {
    -ms-flex-order: 2;
        order: 2;
    width: auto;
  }
  .wrap-footer .wrap-social {
    -ms-flex-order: 3;
        order: 3;
  }
}

.wrap-footer.footer-slim {
  padding: 1.5rem 4%;
}
.wrap-footer.footer-slim .footer-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.wrap-footer.footer-slim .wrap-sitemap {
  margin-left: 2%;
}
.wrap-footer.footer-slim .wrap-sitemap .item {
  display: block;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .wrap-footer.footer-slim .footer-main {
    -ms-flex-align: baseline;
        align-items: baseline;
  }
  .wrap-footer.footer-slim .wrap-sitemap .item {
    display: inline-block;
  }
}

.wrap-footer-institute {
  padding: 20px 4%;
}

.wrap-content li {
  margin-bottom: .5em;
}
.wrap-content .title-page {
  margin-bottom: 1rem;
}

.button-primary, .wrap-outer-header-local .action-auth {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid #338bc5;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #338bc5;
  color: #fafafa;
}
.button-primary:hover, .wrap-outer-header-local .action-auth:hover, .button-primary:focus, .wrap-outer-header-local .action-auth:focus {
  background-color: #0ea6ec;
  border-color: #0ea6ec;
  color: #fafafa;
  text-decoration: none;
}
.button-primary.green, .wrap-outer-header-local .green.action-auth {
  border: 1px solid #3b815d;
  background-color: #43926a;
}
.button-primary.green:hover, .wrap-outer-header-local .green.action-auth:hover, .button-primary.green:focus, .wrap-outer-header-local .green.action-auth:focus {
  background-color: #2ea76a;
  border-color: #43926a;
}

.button-secondary, .button-subtle, .pagination a {
  transition: background-color .25s, border .25s;
  display: inline-block;
  border: 1px solid #ccc;
  border: 1px solid rgba(89, 89, 89, 0.3);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: transparent;
}
.button-secondary:hover, .button-subtle:hover, .pagination a:hover, .button-secondary:focus, .button-subtle:focus, .pagination a:focus {
  background-color: #0ea6ec;
  border-color: #0ea6ec;
  color: #fafafa;
  text-decoration: none;
}
.button-secondary.green, .green.button-subtle, .pagination a.green {
  border: 1px solid #43926a;
  color: #43926a;
}
.button-secondary.green:hover, .green.button-subtle:hover, .pagination a.green:hover, .button-secondary.green:focus, .green.button-subtle:focus, .pagination a.green:focus {
  background-color: #2ea76a;
  border-color: #43926a;
  color: #fafafa;
}

.button-subtle, .pagination a {
  border: 0;
}

form {
  margin: 1.5rem 0;
}
form .field-wrap {
  margin-bottom: 1rem;
}
form .field-label {
  display: inline-block;
  margin-bottom: .2rem;
  font-size: 1.4rem;
  font-weight: 600;
}
form .field-label.error {
  color: #AC1D22;
}
form .field {
  display: block;
  margin-top: .2rem;
  margin-bottom: .2rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-image: none;
}
form .field:focus, form .field:active {
  border-color: #338bc5;
  box-shadow: 0 0 5px rgba(14, 166, 236, 0.8);
}
form .field.error {
  border-color: #AC1D22;
}
form .field-text {
  min-width: 25rem;
  padding: 6px 12px;
  background-color: #fff;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
form .tip {
  font-size: 1.4rem;
  color: #756c61;
  margin-bottom: 0;
}
form .tip.error {
  color: #AC1D22;
}
form .field-textarea {
  display: block;
  min-width: 25rem;
}
form .field-select {
  display: block;
  min-width: 25rem;
  padding: 3px;
}
form .field-upload {
  border: none;
}
form .fields-inline .field-label {
  display: inline-block;
  max-width: 30%;
}
form .fields-inline .field {
  display: inline-block;
  max-width: 65%;
}
form .fields-inline.field-radio {
  display: inline-block;
  margin-right: 1.5rem;
}
form .disabled {
  color: #595959;
  cursor: not-allowed;
}

fieldset {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 2rem;
}

legend {
  padding: 0 1rem;
  font-size: 1.4rem;
  color: #595959;
  text-transform: uppercase;
}

.bit {
  margin: 0 0 3rem 0;
  border-top: 3px solid #ccc;
  padding-top: 1rem;
  font-size: 1.4rem;
}

.alert p {
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.alert.info {
  color: #111;
}
.alert.success {
  color: #43926a;
}
.alert.warning {
  color: #faa933;
}
.alert.error {
  color: #AC1D22;
}

/* global app style alerts and notices */
.wrap-notices {
  background-color: #333;
  color: #fafafa;
  font-size: 1.2rem;
}
.wrap-notices .link {
  color: #83c8ff;
}
.wrap-notices.success {
  border-bottom: 4px solid #43926a;
}
.wrap-notices.warning {
  border-bottom: 4px solid #faa933;
}
.wrap-notices.error {
  border-bottom: 4px solid #AC1D22;
}

.alert-banner {
  display: block;
  margin-bottom: 2rem;
  border-radius: 2px;
  padding: 1.6rem 2rem;
  border-top: 3px solid rgba(51, 139, 197, 0.3);
  background-color: rgba(51, 139, 197, 0.2);
  color: #111;
}
.alert-banner.success {
  border-top: 3px solid rgba(67, 146, 106, 0.3);
  background-color: rgba(67, 146, 106, 0.2);
  color: #234c37;
}
.alert-banner.warning {
  border-top: 3px solid rgba(250, 169, 51, 0.3);
  background-color: rgba(250, 169, 51, 0.2);
  color: #5f3902;
}
.alert-banner.error {
  border-top: 3px solid rgba(172, 29, 34, 0.3);
  background-color: #f7d1d2;
  color: #550e11;
}

@media (min-width: 768px) {
  .inline-action .message {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
  }
  .inline-action .actions {
    display: inline-block;
    vertical-align: middle;
    width: 34%;
    text-align: right;
  }
}

.well {
  margin: 2rem 0;
  background-color: rgba(89, 89, 89, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 2.5rem;
}

.pagination {
  margin: 1rem;
}
.pagination .page {
  display: inline-block;
  min-width: 3rem;
  text-align: center;
}

#skip {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  color: #ccc;
  background-color: #111;
  border-bottom: 2px solid #43926a;
}
#skip:focus {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  padding: 5px 2%;
}

.wrap-outer-header {
  background-color: #111;
  color: #fafafa;
}

.wrap-header .logo-mit-lib {
  display: inline-block;
  fill: #fafafa;
}
.wrap-header .logo-mit-lib svg {
  width: auto;
  height: auto;
  max-width: 100%;
}
.wrap-header .link-logo-mit .logo-mit {
  fill: #999;
}
.wrap-header .link-logo-mit .logo-mit .color {
  fill: #fafafa;
}

.wrap-outer-header-local {
  border-bottom: 1px solid #ccc;
  background-color: #dedede;
  color: #333;
}
.wrap-outer-header-local .wrap-header-local {
  padding-top: 2rem;
}
.wrap-outer-header-local a {
  color: #333;
}
.wrap-outer-header-local .title-site {
  margin-bottom: 0;
}

.wrap-outer-breadcrumb {
  background-color: #dedede;
  color: #595959;
  font-size: 1.2rem;
}

.wrap-breadcrumb {
  padding-top: 7px;
  padding-bottom: 5px;
}

.wrap-outer-footer {
  background-color: #333;
  color: #fafafa;
  font-size: 1.2rem;
}

.wrap-footer a {
  color: #ccc;
}
.wrap-footer .title {
  margin-bottom: .8rem;
}
.wrap-footer .wrap-list .link-sub {
  display: list-item;
  list-style-type: none;
  margin-bottom: .65rem;
  font-weight: 300;
}
.wrap-footer .logo-mit-lib {
  fill: #fafafa;
}
.wrap-footer .logo-mit-lib svg {
  width: auto;
  height: auto;
  max-width: 100%;
}
.wrap-footer .wrap-usergroups {
  font-size: 1.4rem;
}
.wrap-footer .wrap-social p, .wrap-footer .wrap-social a {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.wrap-footer .wrap-social svg {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: 0.2em;
  background: #ccc none repeat scroll 0 0;
}
.wrap-footer .wrap-social svg path {
  fill: #333;
}

.wrap-footer.footer-slim .sitemap-libraries-abbrev a {
  font-size: 1.4rem;
}

.wrap-outer-footer-institute {
  background-color: #595959;
  font-size: 1rem;
  color: #999;
}
.wrap-outer-footer-institute a {
  color: #fafafa;
}
.wrap-outer-footer-institute .link-logo-mit .logo-mit {
  display: inline-block;
  fill: #999;
}
.wrap-outer-footer-institute .link-logo-mit .logo-mit .color {
  fill: #fafafa;
}
.wrap-outer-footer-institute .about-mit {
  color: #ccc;
  text-transform: uppercase;
}
.wrap-outer-footer-institute .license {
  margin-top: 1rem;
  color: #ccc;
}

.wrap-content .title-page {
  padding: .5rem 0 1rem 0;
  font-weight: 600;
}
.wrap-content .wrap-filters {
  margin: 1rem 0;
}

/* csslint ignore:start */
.wrap-outer-header.reasons {
  background: #f23074; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f23074 0%, #d6d628 36%, #207cca 66%, #544b8c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23074', endColorstr='#544b8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* csslint ignore:end */
