<h2 class="title title-page">Thanks for your feedback</h2>
<p>You just helped us make things better! Now you can <a href="https://lib.mit.edu">search again</a> or <a href="https://libraries.mit.edu/">go to the Libraries homepage</a>.</p>
