<div class="about-bento bit" role="complementary">
  <h3 class="title">About this search app</h3>
  <p>Quick search at the MIT Libraries is a new way to find books, movies, music, articles, journals, and other great stuff we have at the library. You will find results sorted into categories: books and media, articles and journals, and library website, as well as links to more specific search tools and resources. <a href="https://libraries.mit.edu/about-quick-search/">Learn more</a></p>
  <p>Not finding what you need? <%= link_to('Ask us', 'https://libraries.mit.edu/ask/') %></p>
</div>
