<% if flash %>
  <% flash.each do |msg_type, message| %>
    <% next if msg_type == 'global' %>
    <div class="alert alert-banner <%= msg_type %>" role="alert">
      <%= sanitize(message) %>
    </div>
  <% end %>
<% end %>
