<% if ENV['GLOBAL_ALERT'] %>
  <div class="wrap-notices info layout-band">
    <div class="wrap-notice">
      <div class="alert alert-global">
        <p><%= sanitize(ENV['GLOBAL_ALERT']) %></p>
      </div>
    </div>
  </div>
<% end %>
