<% if ENV['GLOBAL_ALERT'] %>
  <div class="wrap-notices info layout-band">
    <div class="wrap-notice">
      <div class="alert alert-global">
        <h1 class="title"><%= sanitize(ENV['GLOBAL_ALERT']) %></h1>
      </div>
    </div>
  </div>
<% end %>
