<div class="wrap-outer-footer-institute layout-band">
  <div class="wrap-footer-institute">
    <footer class="footer-info-institute" aria-label="MIT footer" role="contentinfo">
      <a class="link-logo-mit" href="http://www.mit.edu" alt="Massachusetts Institute of Technology Logo">
        <span class="sr">MIT</span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="54" height="28" viewBox="0 0 54 28" enable-background="new 0 0 54 28" xml:space="preserve" class="logo-mit"><rect x="28.9" y="8.9" width="5.8" height="19.1" class="color"/><rect width="5.8" height="28"/><rect x="9.6" width="5.8" height="18.8"/><rect x="19.3" width="5.8" height="28"/><rect x="38.5" y="8.9" width="5.8" height="19.1"/><rect x="38.8" width="15.2" height="5.6"/><rect x="28.9" width="5.8" height="5.6"/></svg>
      </a>
      <div class="about-mit">
        <span class="item">Massachusetts Institute of Technology</span>
        <span class="item">77 Massachusetts Avenue</span>
        <span class="item">Cambridge MA 02139-4307</span>
      </div>
      <div class="license">Licensed under the <a href="http://creativecommons.org/licenses/by-nc/2.0/" class="license-cc">Creative Commons Attribution Non-Commercial License</a> unless otherwise noted. <a href="https://libraries.mit.edu/research-support/notices/copyright-notify/">Notify us about copyright concerns</a>.
      </div><!-- end footer.footer-info-institure -->
    </footer>
  </div>
</div>
