<script>
// Matomo
var _paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function () {
  var u = '<%= ENV['MATOMO_URL'] %>';
  _paq.push(['setTrackerUrl', u + 'matomo.php']);
  _paq.push(['setSiteId', '<%= ENV['MATOMO_SITE_ID'] %>']);
  var d = document,
    g = d.createElement('script'),
    s = d.getElementsByTagName('script')[0];
  g.type = 'text/javascript';
  g.async = true;
  g.defer = true;
  g.src = u + 'matomo.js';
  s.parentNode.insertBefore(g, s);
})();
// End Matomo Code
</script>
<div class="wrap-outer-breadcrumb layout-band">
  <div class="wrap-breadcrumb" role="navigation" aria-label="breadcrumbs">
    <div class="breadcrumbs">
      <a href="https://libraries.mit.edu" title="MIT Libraries">Home</a>  &raquo;  <a href="/">Search</a>
    </div>
  </div>
</div>
