<div class="about-bento bit" role="complementary">
  <h3 class="title">About this search app</h3>
  <p>Quick search at the MIT Libraries can be used to find books, movies, music, articles, journals, archives and manuscript collections, and other great stuff we have at the library. <a href="https://libraries.mit.edu/about-quick-search/">Learn more</a></p>
  <p>Not finding what you need? <%= link_to('Ask us', 'https://libraries.mit.edu/ask/') %></p>
</div>
