<div class="wrap-outer-footer layout-band">
  <div class="wrap-footer footer-slim">
    <div class="footer-main" aria-label="MIT Libraries footer">
      <div class="identity">
        <div class="wrap-logo-lib">
          <a href="https://libraries.mit.edu" class="logo-mit-lib" alt="MIT Libraries Logo">
            <span class="sr">MIT Libraries home</span>
            <%= image_tag("mitlib-wordmark.svg", :alt => "MIT Libraries logo") %>
          </a>
        </div>
      </div><!-- end .identity -->
      <div class="wrap-sitemap">
        <nav class="sitemap-libraries-abbrev" aria-label="MIT Libraries site menu">
          <h2 class="sr">MIT Libraries navigation</h2>
          <a class="item" href="https://libraries.mit.edu/">Home</a>
          <a class="item" href="https://libraries.mit.edu/search">Search</a>
          <a class="item" href="https://libraries.mit.edu/hours">Hours &amp; locations</a>
          <a class="item" href="https://libraries.mit.edu/borrow">Borrow &amp; request</a>
          <a class="item" href="https://libraries.mit.edu/research-support">Research support</a>
          <a class="item" href="https://libraries.mit.edu/about">About the Libraries</a>
        </nav>
      </div><!-- end .links-all -->
    </div>
  </div>
</div>
